In [1]:
import tweepy
import time
import pandas as pd

In [2]:
client = tweepy.Client(bearer_token='AAAAAAAAAAAAAAAAAAAAAGLLhgEAAAAA1aGUpgPRg1fa8jo5sgy7dpshzNg%3D6RVr4MCm9qHTe3SzL8FhxJlqwzW5qdeR9MwWZ8wwEb4FNLM8vZ',wait_on_rate_limit=True)

In [6]:
# Sneakers
sneakers_tweets = []
for response in tweepy.Paginator(client.search_all_tweets, 
                                 query = 'sneakers -is:retweet lang:en place_country:US',
                                 user_fields = ['username', 'public_metrics', 'description', 'location'],
                                 tweet_fields = ['created_at', 'geo', 'public_metrics', 'text'],
                                 expansions = 'author_id',
                                 start_time = '2022-08-01T00:00:00Z',
                                 end_time = '2022-09-30T23:59:59Z',
                                 max_results=500, limit = 20):
    time.sleep(1)
    sneakers_tweets.append(response)

In [7]:
result = []
user_dict = {}

for response in sneakers_tweets:

    for user in response.includes['users']:
        user_dict[user.id] = {'username': user.username, 
                              'followers': user.public_metrics['followers_count'],
                              'tweets': user.public_metrics['tweet_count'],
                              'description': user.description,
                              'location': user.location
                             }
    for tweet in response.data:

        author_info = user_dict[tweet.author_id]

        result.append({'author_id': tweet.author_id, 
                       'username': author_info['username'],
                       'author_followers': author_info['followers'],
                       'author_tweets': author_info['tweets'],
                       'author_description': author_info['description'],
                       'author_location': author_info['location'],
                       'text': tweet.text,
                       'created_at': tweet.created_at,
                       'retweets': tweet.public_metrics['retweet_count'],
                       'replies': tweet.public_metrics['reply_count'],
                       'likes': tweet.public_metrics['like_count'],
                       'quote_count': tweet.public_metrics['quote_count']
                      })


df = pd.DataFrame(result)

In [8]:
df['type'] = 'Sneakers'
df

,author_id,username,author_followers,author_tweets,author_description,author_location,text,created_at,retweets,replies,likes,quote_count,type
0,1493612427304488965,1KHABYS,125,2127,Be ¬•a $elf or Bring ¬•a $hooters! üëÄüéÆ BYS LLC‚Ñ¢Ô∏è ...,Around da corner‚≠êÔ∏è,Privileged never paid over box price for sneakers,2022-09-30 23:28:41+00:00,0,0,0,0,Sneakers
1,29560488,CarrieMae_,344,12283,"the devil works hard, kris jenner works harder","Brooklyn, NY",Trying to have a peaceful evening and at the r...,2022-09-30 23:21:03+00:00,0,0,0,0,Sneakers
2,22680919,MattHalfhill,13057,524,Founder + CEO of @nicekicks. DMs are open. sz 11,"Austin, TX",Drop sneakers at a job fair if you don‚Äôt want ...,2022-09-30 23:13:22+00:00,94,40,961,27,Sneakers
3,997270922976481282,JEFF_SON_334,605,3780,"Husband, Father to a son ,COOL MF in General U...","Montgomery, AL",I hate the fact that Puma ain‚Äôt got no sneaker...,2022-09-30 22:36:38+00:00,0,0,0,0,Sneakers
4,101915799,kwamemorgan,847,25434,Follow my IG : @Kwamemorgan,"√úT: 38.899236,-76.797741",@1_Bundles You know my lil buddies gone geek t...,2022-09-30 22:33:35+00:00,0,1,0,0,Sneakers
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2781,465886230,pshew09,56,672,The amount of Chopped I watch is utterly disgu...,None,@thadbrown7 @SharpFootball I‚Äôll bet a pair of ...,2022-08-01 02:22:29+00:00,0,1,0,0,Sneakers
2782,1348396865042132992,madzfortbz,436,19529,deobiverseüßµ|| multistan,she/her || 22,they got hyunjin doing sneakers üò≠,2022-08-01 02:20:47+00:00,0,0,0,0,Sneakers
2783,1553873902606004224,ShopTheDrop253,3,2,"Exclusive sneaker shop located in Tacoma, WA",None,Coming soon to the Tacoma Mall #Sneakers https...,2022-08-01 02:12:47+00:00,0,0,0,0,Sneakers
2784,1477403880015151107,Edasiar,371,16217,leave me alone.,yes you üëÜüèæ,@PaeDaBaee @cvazquez936 Give me some sneakers üòÇ,2022-08-01 02:06:54+00:00,0,0,0,0,Sneakers
2785,160783887,illiotti,2475,53961,#socialmedia #media New York City\n \n\n illio...,278 B.Q.,#data #science #google &amp; #twitter #analyti...,2022-08-01 01:32:52+00:00,0,0,0,0,Sneakers

In [9]:
# Boots
boots_tweets = []
for response in tweepy.Paginator(client.search_all_tweets, 
                                 query = 'boots -is:retweet lang:en place_country:US',
                                 user_fields = ['username', 'public_metrics', 'description', 'location'],
                                 tweet_fields = ['created_at', 'geo', 'public_metrics', 'text'],
                                 expansions = 'author_id',
                                 start_time = '2022-08-01T00:00:00Z',
                                 end_time = '2022-09-30T23:59:59Z',
                                 max_results=500, limit = 20):
    time.sleep(1)
    boots_tweets.append(response)

In [10]:
result = []
user_dict = {}

for response in boots_tweets:

    for user in response.includes['users']:
        user_dict[user.id] = {'username': user.username, 
                              'followers': user.public_metrics['followers_count'],
                              'tweets': user.public_metrics['tweet_count'],
                              'description': user.description,
                              'location': user.location
                             }
    for tweet in response.data:

        author_info = user_dict[tweet.author_id]

        result.append({'author_id': tweet.author_id, 
                       'username': author_info['username'],
                       'author_followers': author_info['followers'],
                       'author_tweets': author_info['tweets'],
                       'author_description': author_info['description'],
                       'author_location': author_info['location'],
                       'text': tweet.text,
                       'created_at': tweet.created_at,
                       'retweets': tweet.public_metrics['retweet_count'],
                       'replies': tweet.public_metrics['reply_count'],
                       'likes': tweet.public_metrics['like_count'],
                       'quote_count': tweet.public_metrics['quote_count']
                      })


df2 = pd.DataFrame(result)

In [11]:
df2['type'] = 'Boots'
df2

,author_id,username,author_followers,author_tweets,author_description,author_location,text,created_at,retweets,replies,likes,quote_count,type
0,238781995,Mr_Nonautomatic,1833,35393,‚ñ¨‚ñ¨‚ñ¨‚ñ¨‚ñ¨‚ñ¨‚ñ¨ ‚ôû ‚ôõ ‚Ä† ‚ôõ ‚ôû ‚ñ¨‚ñ¨‚ñ¨‚ñ¨‚ñ¨‚ñ¨ IG:Boyj_,"Chicago, IL",me last night at bubble pop HIGH BOOTS \n http...,2022-09-30 23:57:17+00:00,0,2,14,0,Boots
1,873591777047052288,VigilanteWayz_,73,5624,UNF Grad Student üìö. FSW Graduate üë®üèø‚Äçüéì. Owner o...,Saved under contact name Bri‚ù§Ô∏è,Mandate Spence vs Boots\nCrawford fight the go...,2022-09-30 23:52:40+00:00,0,0,0,0,Boots
2,1519061530205171712,navy80to04,54,1232,Retired HTC sw U.S. Navy 24 years. 5 ships. Am...,"Columbia, IL","@JDrewsyBC My work boots, I just ordered 3 pai...",2022-09-30 23:48:55+00:00,0,0,1,0,Boots
3,37000068,chucko24,2847,81925,"Pain is Inevitable, Suffering Is Optional US ...","iPhone: 28.097036,-82.779137",@MOmentumMoshay Dam I knew this was gonna back...,2022-09-30 23:44:36+00:00,0,1,1,0,Boots
4,2826977876,sankofa_bird,4842,23563,TV & Film Writer/Director/Actress. Repped @ Ar...,"Los Angeles, CA","Me: ‚ÄúI just did a closest cleanse, I can‚Äôt sho...",2022-09-30 23:43:41+00:00,0,1,4,0,Boots
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7047,17635873,eleanoralenoraa,207,5973,Neither lean nor mean. She/her. Abercrombie-lo...,"Detroit, MI",fighting a very real and very comical urge to ...,2022-08-01 00:40:17+00:00,0,0,2,0,Boots
7048,2320525095,MannyTheHooper,1564,103528,just a boring guy. sometimes I paint shitty pa...,"San Antonio, TX",I can‚Äôt believe he‚Äôs wrestling in real cowboy ...,2022-08-01 00:38:04+00:00,0,0,5,0,Boots
7049,4514169209,joyreeves23,64,381,Just the mother of two crazy kids..,Douglasville ga,REDNECK HOME SECURITY SYSTEM:\n1. Buy a pair o...,2022-08-01 00:34:34+00:00,0,0,0,0,Boots
7050,1293734154,StevieJPTX,2894,71537,@TheRealSportDFW | ETX Broadcasting Radio Host...,"Paris, TX",Girlfriend: ‚ÄúSo whose bed have your boots been...,2022-08-01 00:09:31+00:00,0,0,1,0,Boots
7051,1198993525964247042,BadBeatsLex,576,7304,#SPDG,United States,@__TayJones_ @OfficialBNorman lol but that‚Äôs t...,2022-08-01 00:06:22+00:00,0,1,0,0,Boots

In [12]:
# Loafers
loafers_tweets = []
for response in tweepy.Paginator(client.search_all_tweets, 
                                 query = 'loafers -is:retweet lang:en place_country:US',
                                 user_fields = ['username', 'public_metrics', 'description', 'location'],
                                 tweet_fields = ['created_at', 'geo', 'public_metrics', 'text'],
                                 expansions = 'author_id',
                                 start_time = '2022-08-01T00:00:00Z',
                                 end_time = '2022-09-30T23:59:59Z',
                                 max_results=500, limit = 20):
    time.sleep(1)
    loafers_tweets.append(response)

In [13]:
result = []
user_dict = {}

for response in loafers_tweets:

    for user in response.includes['users']:
        user_dict[user.id] = {'username': user.username, 
                              'followers': user.public_metrics['followers_count'],
                              'tweets': user.public_metrics['tweet_count'],
                              'description': user.description,
                              'location': user.location
                             }
    for tweet in response.data:

        author_info = user_dict[tweet.author_id]

        result.append({'author_id': tweet.author_id, 
                       'username': author_info['username'],
                       'author_followers': author_info['followers'],
                       'author_tweets': author_info['tweets'],
                       'author_description': author_info['description'],
                       'author_location': author_info['location'],
                       'text': tweet.text,
                       'created_at': tweet.created_at,
                       'retweets': tweet.public_metrics['retweet_count'],
                       'replies': tweet.public_metrics['reply_count'],
                       'likes': tweet.public_metrics['like_count'],
                       'quote_count': tweet.public_metrics['quote_count']
                      })


df3 = pd.DataFrame(result)

In [14]:
df3['type'] = 'Loafers'
df3

,author_id,username,author_followers,author_tweets,author_description,author_location,text,created_at,retweets,replies,likes,quote_count,type
0,197907864,Nautinole24,154,4029,,"Pensacola, FL",@andykantor @nut_history You suggested action ...,2022-09-30 18:16:29+00:00,0,0,0,0,Loafers
1,3193779470,Protrending,495,3450,"Style like a Pro‚Ñ¢ | Where Fashion, Sports and ...",Los Angeles,We told you we would get #EliApple‚Äôs #TNF styl...,2022-09-30 01:10:12+00:00,0,0,0,0,Loafers
2,383627441,Lars_Griffin,519,1063,An actor who wants to make it to a major marke...,"Martinsville, VA",Another original knot in the dark pinstripes w...,2022-09-29 23:32:15+00:00,0,0,0,0,Loafers
3,737929982018768900,oddtank,870,52587,Long Live Tayman Ô£ø | he/him,"Tampa, FL",@k_ddott them ugly ass loafers he got on his feet,2022-09-29 18:35:58+00:00,0,0,1,0,Loafers
4,208428580,CallMeMoprah,10230,48706,‚úû ‚Ä¢ BLACK ‚Ä¢ she/her ‚Ä¢ MN ‚Ä¢ #SPED teacher ‚Ä¢ Bil...,Anishinaabewaki,@teachergrape If those loafers are from target...,2022-09-29 13:05:20+00:00,0,0,1,0,Loafers
...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,3044590740,babymp3_,619,51546,sorry i‚Äôm not made out of sugar,planet god damn,@kennnyyya a pinboard of pictures of memories ...,2022-08-02 03:24:12+00:00,0,1,3,0,Loafers
235,1119877860,resipsausa,1862,3719,rƒìs ipsa loquitur [REYS ip-suh]: Latin. The th...,"Atlanta, Georgia",Cactus Silk Loafers. Limited Edition. Availabl...,2022-08-01 23:01:07+00:00,0,0,0,0,Loafers
236,733432147214635008,sleepyboiMoosh,1002,55624,Just another kid from Woodlawn\n\n\nCommunity ...,"Madison, WI",yeah imma need those loafers lmfao,2022-08-01 17:38:00+00:00,0,0,0,0,Loafers
237,615790487,britsjoint,802,32797,live tweets from my brain | ‚ôìÔ∏é,texas,I‚Äôma buy these loafers idc anymore,2022-08-01 12:31:00+00:00,0,0,0,0,Loafers
238,1244838529571655687,DinahHouseFire1,121,1449,"drag queen, connoisseur of garbage","Little Rock, AR",Scrolling on Poshmark today looking for some l...,2022-08-01 04:51:52+00:00,0,0,0,0,Loafers

In [15]:
# Business shoes
bs_tweets = []
for response in tweepy.Paginator(client.search_all_tweets, 
                                 query = 'business shoes -is:retweet lang:en place_country:US',
                                 user_fields = ['username', 'public_metrics', 'description', 'location'],
                                 tweet_fields = ['created_at', 'geo', 'public_metrics', 'text'],
                                 expansions = 'author_id',
                                 start_time = '2022-08-01T00:00:00Z',
                                 end_time = '2022-09-30T23:59:59Z',
                                 max_results=500, limit = 20):
    time.sleep(1)
    bs_tweets.append(response)

In [16]:
result = []
user_dict = {}

for response in bs_tweets:

    for user in response.includes['users']:
        user_dict[user.id] = {'username': user.username, 
                              'followers': user.public_metrics['followers_count'],
                              'tweets': user.public_metrics['tweet_count'],
                              'description': user.description,
                              'location': user.location
                             }
    for tweet in response.data:

        author_info = user_dict[tweet.author_id]

        result.append({'author_id': tweet.author_id, 
                       'username': author_info['username'],
                       'author_followers': author_info['followers'],
                       'author_tweets': author_info['tweets'],
                       'author_description': author_info['description'],
                       'author_location': author_info['location'],
                       'text': tweet.text,
                       'created_at': tweet.created_at,
                       'retweets': tweet.public_metrics['retweet_count'],
                       'replies': tweet.public_metrics['reply_count'],
                       'likes': tweet.public_metrics['like_count'],
                       'quote_count': tweet.public_metrics['quote_count']
                      })


df4 = pd.DataFrame(result)

In [17]:
df4['type'] = 'Business shoes'
df4

,author_id,username,author_followers,author_tweets,author_description,author_location,text,created_at,retweets,replies,likes,quote_count,type
0,1346251451950104577,MonicaWhitman17,29,1891,üëª @ Monica_leighann 910‚úàÔ∏è585 Josephü§ûüèæ Auntie o...,None,Any time a box come in the house my man thinks...,2022-09-29 20:41:24+00:00,0,0,1,0,Business shoes
1,49516492,BonniePuns,4987,58835,"heart shaped ding dong and professional chef, ...","Los Angeles, CA",going as tom cruise in risky business for Hall...,2022-09-28 16:57:03+00:00,1,1,23,0,Business shoes
2,2714308257,anissagardizy8,3099,2585,Tech reporter for @bostonglobe. past: @theinfo...,"Boston, MA","Bennett Collen, a @BostonCollege alum, brings ...",2022-09-28 00:27:29+00:00,1,1,4,0,Business shoes
3,2714308257,anissagardizy8,3099,2585,Tech reporter for @bostonglobe. past: @theinfo...,"Boston, MA",Endstate embeds a chip into the tongue of ever...,2022-09-28 00:12:30+00:00,0,1,3,0,Business shoes
4,2714308257,anissagardizy8,3099,2585,Tech reporter for @bostonglobe. past: @theinfo...,"Boston, MA","Meet the unlikely duo that started @endstate, ...",2022-09-28 00:04:30+00:00,9,2,24,0,Business shoes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,4044116063,LoveeeeeShay_,281,44446,3-13-16 üëºüëº,In My Own Business üìç,UPS got me fucked up. My son shoes better be h...,2022-08-04 22:02:22+00:00,0,0,0,0,Business shoes
72,36808473,kinjipscott,953,37545,I am not looking for a job or money. I never w...,"Baltimore, MD",@BaltoSpectator You know he worked hard in his...,2022-08-04 12:17:37+00:00,0,1,1,0,Business shoes
73,889568289726312450,margaretcox2299,937,37196,she/her/End AIPAC; WOKE IS A VERB ;Medicare 4 ...,"Florida, USA",@mcgirty69 @HorseSense25 @podiatristdon @Deedo...,2022-08-02 03:53:20+00:00,0,0,0,0,Business shoes
74,16099690,FrederickMelo,13398,54944,St. Paul Pioneer Press (@pioneerpress) Urban L...,"St. Paul, Minneapolis",The Minneapolis/St. Paul Business Journal is l...,2022-08-01 20:08:08+00:00,3,1,2,1,Business shoes
75,355374842,MrNateDunn,565,1348,Engineering & Robotics Educator & FLL Robotics...,"CTMS- Grapevine, TX",@baalbakd @DavidTadRussell @NicholasFerroni @a...,2022-08-01 02:21:50+00:00,0,1,1,0,Business shoes

In [18]:
# Slippers
slippers_tweets = []
for response in tweepy.Paginator(client.search_all_tweets, 
                                 query = 'slippers -is:retweet lang:en place_country:US',
                                 user_fields = ['username', 'public_metrics', 'description', 'location'],
                                 tweet_fields = ['created_at', 'geo', 'public_metrics', 'text'],
                                 expansions = 'author_id',
                                 start_time = '2022-08-01T00:00:00Z',
                                 end_time = '2022-09-30T23:59:59Z',
                                 max_results=500, limit = 20):
    time.sleep(1)
    slippers_tweets.append(response)

In [19]:
result = []
user_dict = {}

for response in slippers_tweets:

    for user in response.includes['users']:
        user_dict[user.id] = {'username': user.username, 
                              'followers': user.public_metrics['followers_count'],
                              'tweets': user.public_metrics['tweet_count'],
                              'description': user.description,
                              'location': user.location
                             }
    for tweet in response.data:

        author_info = user_dict[tweet.author_id]

        result.append({'author_id': tweet.author_id, 
                       'username': author_info['username'],
                       'author_followers': author_info['followers'],
                       'author_tweets': author_info['tweets'],
                       'author_description': author_info['description'],
                       'author_location': author_info['location'],
                       'text': tweet.text,
                       'created_at': tweet.created_at,
                       'retweets': tweet.public_metrics['retweet_count'],
                       'replies': tweet.public_metrics['reply_count'],
                       'likes': tweet.public_metrics['like_count'],
                       'quote_count': tweet.public_metrics['quote_count']
                      })


df5 = pd.DataFrame(result)
df5['type'] = 'Slippers'
df5

,author_id,username,author_followers,author_tweets,author_description,author_location,text,created_at,retweets,replies,likes,quote_count,type
0,238842169,emhed_,586,45670,Communication is key. Bluegrass music makes my...,"Auburn, AL",@itweetedURchick So trueee. Sometimes I take s...,2022-09-30 21:50:38+00:00,0,0,1,0,Slippers
1,1484605226220982277,intern3tthottie,1444,860,"the names JIZZ short for Jizzel, welcum to my ...","Orlando, FL",It‚Äôs a beautiful day to wear UGGS Slippers üçÇ h...,2022-09-30 21:46:43+00:00,0,0,3,0,Slippers
2,1454713914,DedeVotesBlue,9078,27289,I‚Äôm üòØ#Prochoice - Worried about the future of ...,Portland/Breckenridge,@MadScientistFF Slippers,2022-09-30 20:51:52+00:00,0,0,0,0,Slippers
3,81259499,mzd1mple,24,1910,I live in hometown of #MissyElliot | forever y...,"Virginia, USA",@hourIyng #SUGAatNBAJapan #SUGA came out reall...,2022-09-30 18:40:17+00:00,0,0,0,0,Slippers
4,903094879412035584,Sarah_RN_WI,499,23536,"RN, Mama, Tuberous Sclerosis Complex, Intracta...","Wisconsin, USA",@BertoInPublic I worked at a discount store wh...,2022-09-30 15:58:36+00:00,0,0,1,0,Slippers
...,...,...,...,...,...,...,...,...,...,...,...,...,...
650,1547059238924853248,sa61740585,24,134,Success is standing up more than falling down ...,SF,I like these ivory slippers very much. I want ...,2022-08-01 23:52:04+00:00,0,0,0,0,Slippers
651,1549659659916947456,Sali82955130,1,101,"Reality cannot defeat us, it only makes us str...","Los Angeles, CA",I like these ivory slippers very much. I want ...,2022-08-01 23:49:08+00:00,0,0,0,0,Slippers
652,90895400,StanleyRoberts,26180,56507,Executive Producer/Consultant. Mentioned in @R...,"37.7749¬∞ N, 122.4194¬∞ W üåäü¶Ä",@beatcop4life @RealByronAllen @nigeldick @sinb...,2022-08-01 23:23:40+00:00,0,1,0,0,Slippers
653,1462799619134533632,CuhCRYST,138,2785,Not new to twitter old account got banned.. ‚ÄúJ...,"Memphis, TN",@1AB1_ Have house slippers at the door to replace,2022-08-01 19:02:05+00:00,0,1,1,0,Slippers
654,734900756784914432,beeljo,654,19991,Trump supporters: even if the info wasn't clas...,Earth,@donwinslow @JohnFetterman @DrOz I wouldn't ca...,2022-08-01 14:40:34+00:00,0,0,1,0,Slippers

In [20]:
# Sandals
sandals_tweets = []
for response in tweepy.Paginator(client.search_all_tweets, 
                                 query = 'sandals -is:retweet lang:en place_country:US',
                                 user_fields = ['username', 'public_metrics', 'description', 'location'],
                                 tweet_fields = ['created_at', 'geo', 'public_metrics', 'text'],
                                 expansions = 'author_id',
                                 start_time = '2022-08-01T00:00:00Z',
                                 end_time = '2022-09-30T23:59:59Z',
                                 max_results=500, limit = 20):
    time.sleep(1)
    sandals_tweets.append(response)

In [21]:
result = []
user_dict = {}

for response in sandals_tweets:

    for user in response.includes['users']:
        user_dict[user.id] = {'username': user.username, 
                              'followers': user.public_metrics['followers_count'],
                              'tweets': user.public_metrics['tweet_count'],
                              'description': user.description,
                              'location': user.location
                             }
    for tweet in response.data:

        author_info = user_dict[tweet.author_id]

        result.append({'author_id': tweet.author_id, 
                       'username': author_info['username'],
                       'author_followers': author_info['followers'],
                       'author_tweets': author_info['tweets'],
                       'author_description': author_info['description'],
                       'author_location': author_info['location'],
                       'text': tweet.text,
                       'created_at': tweet.created_at,
                       'retweets': tweet.public_metrics['retweet_count'],
                       'replies': tweet.public_metrics['reply_count'],
                       'likes': tweet.public_metrics['like_count'],
                       'quote_count': tweet.public_metrics['quote_count']
                      })


df6 = pd.DataFrame(result)
df6['type'] = 'Sandals'
df6

,author_id,username,author_followers,author_tweets,author_description,author_location,text,created_at,retweets,replies,likes,quote_count,type
0,3342189372,ashzamorano,636,1478,,None,every dad in yuma owns reef sandals,2022-09-30 22:28:36+00:00,1,0,1,0,Sandals
1,22098235,MelodyOrganics,904,20679,your edge control doesn‚Äôt work on me honey üßòüèæ‚Äç‚ôÄÔ∏è,"Right Place, Right Time ‚ù§Ô∏è",üé∂ Thinking about being myself for Halloween th...,2022-09-30 22:04:34+00:00,0,0,0,0,Sandals
2,259148967,andrewpelletier,369,7158,songwriter/composer. producer. teacher REBORN ...,Los Angeles via Chicago,@columnatedrunes- did you ever get those huara...,2022-09-30 19:15:31+00:00,0,1,0,0,Sandals
3,1489348395017781252,dontbeweirdtome,125,5620,‚ö†Ô∏è you don‚Äôt have to follow me ‚ö†Ô∏è,None,i can't wait to get to super OG status so i ca...,2022-09-30 18:41:30+00:00,0,2,2,0,Sandals
4,3505560323,NiteniteMelissa,7310,640497,Elizabeth Warren is my spirit animal #LPN #Jer...,None,@SykesCharlie @RadioFreeTom @tedcruz Three of ...,2022-09-30 17:42:53+00:00,0,0,3,0,Sandals
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1038,304179492,blewis823,8126,119218,"No DMs, Still play Sims, 4ever Love Prince. St...",United States,Gave me something to think about. For real.\n\...,2022-08-01 03:50:54+00:00,1,3,6,0,Sandals
1039,1001178515256107009,ashtagnofilter,344,16220,just an irish girl from jersey city ‚≠êÔ∏è profess...,Thunder Road,Minus the sandals this is a classic Papa outfi...,2022-08-01 02:43:27+00:00,0,0,0,0,Sandals
1040,1539087986461114368,MouldofSteel,14,429,eBay Reseller,Wisconsin,Check out Nike Youth Boy's Kawa Slip On Slide ...,2022-08-01 02:39:01+00:00,0,0,2,0,Sandals
1041,1352673810,Kirbadactal23,129,42471,,None,2 and a half hours until adidas sandals August,2022-08-01 01:34:39+00:00,0,0,0,0,Sandals
1042,231979119,CaramelFrost_,3059,270550,The price we pay for being ourselves is worth ...,"Stamford, CT",For my outfit for Saturday and some cute sanda...,2022-08-01 00:51:10+00:00,0,0,1,1,Sandals

In [22]:
df_concat = pd.concat([df, df2, df3, df4, df5, df6])

In [23]:
df_concat

,author_id,username,author_followers,author_tweets,author_description,author_location,text,created_at,retweets,replies,likes,quote_count,type
0,1493612427304488965,1KHABYS,125,2127,Be ¬•a $elf or Bring ¬•a $hooters! üëÄüéÆ BYS LLC‚Ñ¢Ô∏è ...,Around da corner‚≠êÔ∏è,Privileged never paid over box price for sneakers,2022-09-30 23:28:41+00:00,0,0,0,0,Sneakers
1,29560488,CarrieMae_,344,12283,"the devil works hard, kris jenner works harder","Brooklyn, NY",Trying to have a peaceful evening and at the r...,2022-09-30 23:21:03+00:00,0,0,0,0,Sneakers
2,22680919,MattHalfhill,13057,524,Founder + CEO of @nicekicks. DMs are open. sz 11,"Austin, TX",Drop sneakers at a job fair if you don‚Äôt want ...,2022-09-30 23:13:22+00:00,94,40,961,27,Sneakers
3,997270922976481282,JEFF_SON_334,605,3780,"Husband, Father to a son ,COOL MF in General U...","Montgomery, AL",I hate the fact that Puma ain‚Äôt got no sneaker...,2022-09-30 22:36:38+00:00,0,0,0,0,Sneakers
4,101915799,kwamemorgan,847,25434,Follow my IG : @Kwamemorgan,"√úT: 38.899236,-76.797741",@1_Bundles You know my lil buddies gone geek t...,2022-09-30 22:33:35+00:00,0,1,0,0,Sneakers
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1038,304179492,blewis823,8126,119218,"No DMs, Still play Sims, 4ever Love Prince. St...",United States,Gave me something to think about. For real.\n\...,2022-08-01 03:50:54+00:00,1,3,6,0,Sandals
1039,1001178515256107009,ashtagnofilter,344,16220,just an irish girl from jersey city ‚≠êÔ∏è profess...,Thunder Road,Minus the sandals this is a classic Papa outfi...,2022-08-01 02:43:27+00:00,0,0,0,0,Sandals
1040,1539087986461114368,MouldofSteel,14,429,eBay Reseller,Wisconsin,Check out Nike Youth Boy's Kawa Slip On Slide ...,2022-08-01 02:39:01+00:00,0,0,2,0,Sandals
1041,1352673810,Kirbadactal23,129,42471,,None,2 and a half hours until adidas sandals August,2022-08-01 01:34:39+00:00,0,0,0,0,Sandals
1042,231979119,CaramelFrost_,3059,270550,The price we pay for being ourselves is worth ...,"Stamford, CT",For my outfit for Saturday and some cute sanda...,2022-08-01 00:51:10+00:00,0,0,1,1,Sandals

In [24]:
df_concat.to_csv('shoe_type_franyang_oct1.csv')