In [69]:
import tweepy
import time
import pandas as pd

In [70]:
client = tweepy.Client(bearer_token='AAAAAAAAAAAAAAAAAAAAAGLLhgEAAAAA1aGUpgPRg1fa8jo5sgy7dpshzNg%3D6RVr4MCm9qHTe3SzL8FhxJlqwzW5qdeR9MwWZ8wwEb4FNLM8vZ',wait_on_rate_limit=True)

In [71]:
# Puma
puma_tweets = []
for response in tweepy.Paginator(client.search_all_tweets, 
                                 query = 'puma -is:retweet lang:en place_country:US',
                                 user_fields = ['username', 'public_metrics', 'description', 'location'],
                                 tweet_fields = ['created_at', 'geo', 'public_metrics', 'text'],
                                 expansions = 'author_id',
                                 start_time = '2022-08-01T00:00:00Z',
                                 end_time = '2022-09-30T23:59:59Z',
                                 max_results=500, limit = 20):
    time.sleep(1)
    puma_tweets.append(response)

In [75]:
result = []
user_dict = {}

for response in puma_tweets:

    for user in response.includes['users']:
        user_dict[user.id] = {'username': user.username, 
                              'followers': user.public_metrics['followers_count'],
                              'tweets': user.public_metrics['tweet_count'],
                              'description': user.description,
                              'location': user.location
                             }
    for tweet in response.data:

        author_info = user_dict[tweet.author_id]

        result.append({'author_id': tweet.author_id, 
                       'username': author_info['username'],
                       'author_followers': author_info['followers'],
                       'author_tweets': author_info['tweets'],
                       'author_description': author_info['description'],
                       'author_location': author_info['location'],
                       'text': tweet.text,
                       'created_at': tweet.created_at,
                       'retweets': tweet.public_metrics['retweet_count'],
                       'replies': tweet.public_metrics['reply_count'],
                       'likes': tweet.public_metrics['like_count'],
                       'quote_count': tweet.public_metrics['quote_count']
                      })


df = pd.DataFrame(result)

In [76]:
df['brand'] = 'Puma'
df

,author_id,username,author_followers,author_tweets,author_description,author_location,text,created_at,retweets,replies,likes,quote_count,brand
0,1549441622231900164,SuchitaHedau,353,1465,,None,@kuchbhishubhh Puma shoes 😮,2022-09-30 23:59:39+00:00,0,0,1,0,Puma
1,997270922976481282,JEFF_SON_334,606,3780,"Husband, Father to a son ,COOL MF in General U...","Montgomery, AL",I hate the fact that Puma ain’t got no sneaker...,2022-09-30 22:36:38+00:00,0,0,0,0,Puma
2,69133413,tarsismenezes,391,34992,BBBholic,"Los Angeles, CA",@slashviolence @PUMA @neymarjr @pumafootball Y...,2022-09-30 22:05:04+00:00,0,0,0,0,Puma
3,508551405,My_business_man,663,18657,"This life is 100% your responsibility, so know...",Free in the World,@i95Bully @ForeverKnicks_ Nah. Puma store on 4...,2022-09-30 17:33:24+00:00,0,1,1,0,Puma
4,66769124,THIAGAOAGUIAR,1530,49626,"Paulistano , Sobrevivente ! Enquanto meu coraç...","Weehawken, NJ",Extremely disappointed PUMA . The LGBTQA+ suff...,2022-09-30 16:08:20+00:00,0,0,3,0,Puma
...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,347613843,derryl_golfer,1827,24421,@inland_sports Senior Writer & @wachoopsdigest...,"Menifee,CA",https://t.co/quM8ndfbY8 \n\nIt's Queens Court ...,2022-08-01 13:31:28+00:00,3,0,7,0,Puma
738,2669912101,SheKnowsSports,16240,54054,@espn Sr. SM Specialist / WNBA reporter • @con...,"Hartford, CT",@Vantastix @PUMA It hasn’t dropped yet. It doe...,2022-08-01 13:20:08+00:00,0,1,2,0,Puma
739,346769869,StripeyMiata,1852,48178,It's not time to make a change,"Lisburn, Northern Ireland",@matt_kempez @MttRbnsn @KiaUKPR Reminds me of ...,2022-08-01 11:56:37+00:00,0,0,0,0,Puma
740,65851268,MsQueenMona,433,27090,Manager|Tour Manager Order your favorite desse...,ATL|MIA|CHI 📍,Niggas stop coming to airport w/ your fresh De...,2022-08-01 11:54:37+00:00,0,0,0,0,Puma
741,2777344511,bryantgardner86,401,10026,🏁 Single Dad living in Charlotte. RIP Pa Vang....,"Pineville, NC",#puma is getting all my money,2022-08-01 02:58:52+00:00,0,0,0,0,Puma

In [77]:
# Toms
toms_tweets = []
for response in tweepy.Paginator(client.search_all_tweets, 
                                 query = 'toms -is:retweet lang:en place_country:US',
                                 user_fields = ['username', 'public_metrics', 'description', 'location'],
                                 tweet_fields = ['created_at', 'geo', 'public_metrics', 'text'],
                                 expansions = 'author_id',
                                 start_time = '2022-08-01T00:00:00Z',
                                 end_time = '2022-09-30T23:59:59Z',
                                 max_results=500, limit = 20):
    time.sleep(1)
    toms_tweets.append(response)

In [78]:
result = []
user_dict = {}

for response in toms_tweets:

    for user in response.includes['users']:
        user_dict[user.id] = {'username': user.username, 
                              'followers': user.public_metrics['followers_count'],
                              'tweets': user.public_metrics['tweet_count'],
                              'description': user.description,
                              'location': user.location
                             }
    for tweet in response.data:

        author_info = user_dict[tweet.author_id]

        result.append({'author_id': tweet.author_id, 
                       'username': author_info['username'],
                       'author_followers': author_info['followers'],
                       'author_tweets': author_info['tweets'],
                       'author_description': author_info['description'],
                       'author_location': author_info['location'],
                       'text': tweet.text,
                       'created_at': tweet.created_at,
                       'retweets': tweet.public_metrics['retweet_count'],
                       'replies': tweet.public_metrics['reply_count'],
                       'likes': tweet.public_metrics['like_count'],
                       'quote_count': tweet.public_metrics['quote_count']
                      })


df2 = pd.DataFrame(result)

In [80]:
df2['brand'] = 'Toms'
df2

,author_id,username,author_followers,author_tweets,author_description,author_location,text,created_at,retweets,replies,likes,quote_count,brand
0,4347892641,biblicalputa,536,25497,detroit via jersey so you KNOW my pussy is mut...,"Detroit, MI","@papayessir yes the existence of toms river, n...",2022-09-30 23:18:02+00:00,0,0,2,0,Toms
1,915901424,BradyOltmans,1369,15617,Nebraska football reporter @HailVarsity. corgi...,"Lincoln, NE",Weekend reading for you.\n\n@DrakeKeeler’s tak...,2022-09-30 23:09:33+00:00,2,0,3,0,Toms
2,2714500055,AndresOnAir,374,5996,"🎙PxP Broadcaster for Colby, KS Sports - KRDQ 1...","Colby, KS",Wish I could be there! Miss calling @TommieMHo...,2022-09-30 20:37:56+00:00,0,0,0,0,Toms
3,1357774872,chazmatazztr,188,3230,Chazmatazz Formalwear of Toms River offers mor...,"Toms River, NJ",Just arrived to Chazmatazz Formalwear of Toms ...,2022-09-30 19:45:14+00:00,0,0,0,0,Toms
4,1414684496,everyEarthquake,27973,753853,Tweeting every earthquake occurrence reported ...,Earth,"USGS reports a M1.23 earthquake, 17km E of Tom...",2022-09-30 17:29:35+00:00,1,0,5,0,Toms
...,...,...,...,...,...,...,...,...,...,...,...,...,...
691,1414684496,everyEarthquake,27973,753853,Tweeting every earthquake occurrence reported ...,Earth,"USGS reports a M1.71 earthquake, 37km N of Tom...",2022-08-01 16:26:50+00:00,1,0,3,0,Toms
692,50706690,511NY,3989,5804335,Traffic & transit updates for all of New York ...,New York State,Construction on #GardenStateParkway NB from So...,2022-08-01 14:39:46+00:00,0,0,0,0,Toms
693,50706690,511NY,3989,5804335,Traffic & transit updates for all of New York ...,New York State,Construction on #GardenStateParkway SB from So...,2022-08-01 14:37:56+00:00,0,0,0,0,Toms
694,1293734154,StevieJPTX,2895,71537,@TheRealSportDFW | ETX Broadcasting Radio Host...,"Paris, TX",People like Tom enable people like Watson in o...,2022-08-01 12:39:38+00:00,2,5,15,1,Toms
695,16381945,eton_rifles,826,44441,"Single, no kids, Enjoy sports and video games....","Tiverton, Rhode Island","I'm at Toms Market in Tiverton, RI https://t.c...",2022-08-01 01:36:51+00:00,0,0,0,0,Toms

In [81]:
# Keds
keds_tweets = []
for response in tweepy.Paginator(client.search_all_tweets, 
                                 query = 'keds -is:retweet lang:en place_country:US',
                                 user_fields = ['username', 'public_metrics', 'description', 'location'],
                                 tweet_fields = ['created_at', 'geo', 'public_metrics', 'text'],
                                 expansions = 'author_id',
                                 start_time = '2022-08-01T00:00:00Z',
                                 end_time = '2022-09-30T23:59:59Z',
                                 max_results=500, limit = 20):
    time.sleep(1)
    keds_tweets.append(response)

In [82]:
result = []
user_dict = {}

for response in keds_tweets:

    for user in response.includes['users']:
        user_dict[user.id] = {'username': user.username, 
                              'followers': user.public_metrics['followers_count'],
                              'tweets': user.public_metrics['tweet_count'],
                              'description': user.description,
                              'location': user.location
                             }
    for tweet in response.data:

        author_info = user_dict[tweet.author_id]

        result.append({'author_id': tweet.author_id, 
                       'username': author_info['username'],
                       'author_followers': author_info['followers'],
                       'author_tweets': author_info['tweets'],
                       'author_description': author_info['description'],
                       'author_location': author_info['location'],
                       'text': tweet.text,
                       'created_at': tweet.created_at,
                       'retweets': tweet.public_metrics['retweet_count'],
                       'replies': tweet.public_metrics['reply_count'],
                       'likes': tweet.public_metrics['like_count'],
                       'quote_count': tweet.public_metrics['quote_count']
                      })


df3 = pd.DataFrame(result)

In [83]:
df3['brand'] = 'Keds'
df3

,author_id,username,author_followers,author_tweets,author_description,author_location,text,created_at,retweets,replies,likes,quote_count,brand
0,29560488,CarrieMae_,344,12283,"the devil works hard, kris jenner works harder","Brooklyn, NY",Trying to have a peaceful evening and at the r...,2022-09-30 23:21:03+00:00,0,0,0,0,Keds
1,820770788991115266,JRaclawski,121,10672,MUSTANG ci-guy-sometimes you can’t just”get al...,None,@Christinethequ2 @BigJoeBastardi EXACTLY… no g...,2022-09-29 04:37:33+00:00,0,0,0,0,Keds
2,946917486380879872,preppyliberty,4076,9337,"SAHM, Libertarian Lite, Lover of books, bourbo...",The South,@HeatherIsUnsane They’re not terrible but if I...,2022-09-25 01:18:29+00:00,0,0,0,0,Keds
3,1027241907884314624,MCoachtoliver,386,1995,"Assistant Principal at Brenham High School, Co...",None,When the hubs surprises you with some fun Frid...,2022-09-23 11:29:08+00:00,0,0,13,0,Keds
4,21122791,vtbrittlj,249,16751,kick back and get high on the livin part of li...,"Richmond, VA",Side note: these girls in the bar with their c...,2022-09-22 00:34:09+00:00,0,3,6,0,Keds
5,820770788991115266,JRaclawski,121,10672,MUSTANG ci-guy-sometimes you can’t just”get al...,None,@MaeNorth13 yea.. and the Keds canvas high top...,2022-09-18 00:43:50+00:00,0,0,1,0,Keds
6,1449223402590457859,AndreClaudio_1,105,570,Staff writer @sourcingjournal. Pop culture & f...,"New York, NY",@Keds Makes Its Luxury Debut With NYFW @ALTUZA...,2022-09-14 19:30:48+00:00,0,0,0,0,Keds
7,2279728812,KimberlynCarter,854,31119,#BeFearless #BrandDomination,"Atlanta, GA",@keds_economist Thank You!,2022-09-14 15:57:30+00:00,0,0,0,0,Keds
8,1239505812,Narfnampil,3913,35445,Tax/poverty law prof/LLM/MBA/CPA @UNLVLaw All ...,"Las Vegas, NV",@CCP_is_satan @keds_economist Actually it does...,2022-09-14 09:50:43+00:00,0,1,1,0,Keds
9,38347394,CallmeTinaja,1148,15397,Community Crisis Chaplain; First Responder; Me...,NYC,@a_resoundingmeh @Hoyden_Heidi @libsoftiktok S...,2022-09-14 01:28:31+00:00,0,0,0,0,Keds
10,183214800,footiusmaximus,1467,32474,"Enjoys Phishing, long talks about the Grateful...",Fenario,@Super70sSports Better than pro keds 😂,2022-09-10 15:36:53+00:00,0,2,3,0,Keds
11,1081794314982883328,Chris_Boudrie,356,11451,Introverted Detroit sports fan. I run the fine...,"Warren, MI",@IffyTheDopester I had Keds in grade school lol,2022-09-09 22:46:56+00:00,0,0,0,0,Keds
12,1535385878335463430,MekitaMichelle,51,252,"Truth, Justice and The American way matter to ...",New York State,@BigKutta1 @NikkiHaley I once wore Keds until ...,2022-09-08 12:40:10+00:00,0,0,1,0,Keds
13,1264995750317965312,mom2max96_lisa,1714,46987,Native New Yorker 🗽Proud Mom| Travel lover 💚🍀 ...,"Los Angeles, CA",@LouakaGhost @AlTheBoss03 @Yankees I wear thes...,2022-09-08 03:28:06+00:00,0,0,0,0,Keds
14,739082620898775040,kellycsteacher,261,448,Curriculum Program Manager | EdTech | Leadersh...,"Lakeland, FL",Lovely walk in @AudubonNature Audubon Park thi...,2022-09-07 22:03:02+00:00,0,0,4,0,Keds
15,105017546,fosterhood,4786,19660,"Adoptee turned foster, now adoptive parent (20...","New York, NY",@RCMAuthor That white shoe paint we kept wipin...,2022-09-03 23:39:47+00:00,0,0,3,0,Keds
16,873550650604494848,haitiprinceshit,10541,937,6’4 & a real life ZOE 😈🔝 tier IRL💯 dis luh blu...,"Atlanta, GA","THAT BITCH POP OUT WIT A HELMET ON HER HEAD, B...",2022-09-01 20:38:24+00:00,0,0,0,0,Keds
17,587437673,mskvarla36,2879,117069,"PhD in entomology, professor of insect ID. Co...","Port Matilda, PA",Grant proposal submitted! Hopefully it's funde...,2022-09-01 20:11:13+00:00,1,1,16,0,Keds
18,165595246,KSEAC,40,706,"Lover of all things J Crew, Bryan Adams, and w...","Chehalis, WA",@katespadeny will you release a Fall/Winter li...,2022-08-25 19:26:41+00:00,0,0,0,0,Keds
19,165595246,KSEAC,40,706,"Lover of all things J Crew, Bryan Adams, and w...","Chehalis, WA",@RiflePaperCo will there be a Fall/Winter 22 @...,2022-08-25 19:25:12+00:00,0,2,0,0,Keds
20,4855815293,GrammaGaz,32330,78962,"Mom×2, Grandma×3, Retired, Road Tripper, Theat...","Buena Park, CA",@JewishResister @FrancisWegner I think they ar...,2022-08-22 05:12:38+00:00,0,1,3,0,Keds
21,370403181,ernunnos,330,18858,Semi-cultured redneck,"Phoenix, AZ",@DempMcgee In Keds and tube socks.\n\nhttps://...,2022-08-20 21:16:16+00:00,0,0,1,0,Keds
22,191091544,WheredJasonGo,1021,63836,"Loud music, baked goods, and zines. Chris Corn...","Seattle, WA",@LucretianAnimus “Why is this cool person fuck...,2022-08-18 23:36:02+00:00,0,0,3,0,Keds
23,39865883,_Ctina,249,11601,"(king Chris👸🏻) mom of L&V, asst. PE coach to a...",Texas girl,I had a runner today! The way I ran after this...,2022-08-18 23:22:31+00:00,0,0,1,0,Keds
24,1423605563028561925,floridaEdMom,2776,12070,public Ed advocate and prolific Letter to the ...,"Orlando, FL",AND THEN YOU HAVE A ROUND OF WHAT THEY CALL “I...,2022-08-18 21:06:29+00:00,0,0,2,0,Keds
25,40235502,damwop2,1426,25020,"A beautiful mess ♎️ wife, mom, Nonna, smart As...","Norfolk, VA",@Keds aren’t just for kids. https://t.co/KAgzN...,2022-08-18 12:22:06+00:00,0,0,1,0,Keds
26,1663892186,LoriCoxHan,601,2458,Political scientist; presidency scholar; SF Gi...,"Orange, CA",@cconrymurray Keds. Lots of cute styles. I use...,2022-08-14 18:17:47+00:00,0,1,4,0,Keds
27,18773718,ZODIAC_MF,22163,93125,"""ZODIACS RED FLAG CHALLENGES THE HEAVENS...""",OLD DETROIT,@ChaseFailey MAYBE FLASH BACK TO HIS CHILDHOOD...,2022-08-13 14:06:50+00:00,0,2,28,0,Keds
28,1239505812,Narfnampil,3913,35445,Tax/poverty law prof/LLM/MBA/CPA @UNLVLaw All ...,"Las Vegas, NV","@keds_economist @HilaryHoynes Yup, and they ar...",2022-08-13 01:06:10+00:00,0,0,3,0,Keds
29,412712711,LOSOLINA,1888,58526,,None,"@edubskii lmaooooooooo I like ugly men too, bu...",2022-08-12 03:07:32+00:00,0,0,0,0,Keds
30,2366444442,21ForLifeHOF,654,8986,Husband | Father | Analyst | Mentor HOF Induct...,None,@EdwinFi94733275 @MikeTaylorShow @for_keds @bi...,2022-08-12 01:39:40+00:00,4,1,15,0,Keds
31,36903980,pooldoc1,676,12052,"Host... SNR monthly recap Show , Host Jungle p...","spring branch, texas",@rnrautoglass @MikeTaylorShow @for_keds @salar...,2022-08-11 22:20:20+00:00,1,0,3,0,Keds
32,412712711,LOSOLINA,1888,58526,,None,@edubskii yea….. lol Edan likes guys that wear...,2022-08-11 17:06:11+00:00,0,0,0,0,Keds
33,151935894,Joanntol,106,2968,Marshall Rams Football mom!! StMU Volleyball m...,"San Antonio, TX","@MikeTaylorShow “You ‘member”, “It’s for the K...",2022-08-09 18:14:59+00:00,0,0,3,0,Keds
34,1447268453463830528,JheyCintra,12,437,🤍✨ 🇺🇸🇧🇷,"West Chester, PA",@gringaixx Keds ♥️,2022-08-09 17:53:18+00:00,0,0,0,0,Keds
35,1521869137462521856,Nanc733,4,349,,None,"@nozkcb @JDCocchiarella DAM BUCKLE UP, I THINK...",2022-08-09 15:05:01+00:00,0,1,0,1,Keds
36,467372270,sammiethefoodie,581,16763,Taco Enthusiast l Former NYer trying to find g...,"Davenport, FL",I need shoes for my Summer Nights Sandy costum...,2022-08-07 18:42:40+00:00,0,0,2,0,Keds
37,1160805510,The_LoganFoxx,382,12391,The only thing kindness can hurt is pride. ♌️ ...,Chromatica,Keds are at the concert safe &amp; sound. well...,2022-08-07 01:19:28+00:00,0,0,1,0,Keds
38,1160805510,The_LoganFoxx,382,12391,The only thing kindness can hurt is pride. ♌️ ...,Chromatica,dropping the keds off at @theweeknd concert. H...,2022-08-07 00:20:10+00:00,0,0,3,1,Keds
39,885391592,ShaynaJaskolka,1797,16994,Clipboard gal! Now: @Schneider4IL10 📋 Then: @f...,"Chicago, IL","@begyourgarden For sneakers, on the higher pri...",2022-08-02 21:40:20+00:00,0,1,1,0,Keds
40,2366444442,21ForLifeHOF,654,8986,Husband | Father | Analyst | Mentor HOF Induct...,None,@for_keds @MikeTaylorShow Any word on a date f...,2022-08-01 14:07:13+00:00,0,2,4,0,Keds

In [84]:
# Allbirds
allbirds_tweets = []
for response in tweepy.Paginator(client.search_all_tweets, 
                                 query = 'allbirds -is:retweet lang:en place_country:US',
                                 user_fields = ['username', 'public_metrics', 'description', 'location'],
                                 tweet_fields = ['created_at', 'geo', 'public_metrics', 'text'],
                                 expansions = 'author_id',
                                 start_time = '2022-08-01T00:00:00Z',
                                 end_time = '2022-09-30T23:59:59Z',
                                 max_results=500, limit = 20):
    time.sleep(1)
    allbirds_tweets.append(response)

In [85]:
result = []
user_dict = {}

for response in allbirds_tweets:

    for user in response.includes['users']:
        user_dict[user.id] = {'username': user.username, 
                              'followers': user.public_metrics['followers_count'],
                              'tweets': user.public_metrics['tweet_count'],
                              'description': user.description,
                              'location': user.location
                             }
    for tweet in response.data:

        author_info = user_dict[tweet.author_id]

        result.append({'author_id': tweet.author_id, 
                       'username': author_info['username'],
                       'author_followers': author_info['followers'],
                       'author_tweets': author_info['tweets'],
                       'author_description': author_info['description'],
                       'author_location': author_info['location'],
                       'text': tweet.text,
                       'created_at': tweet.created_at,
                       'retweets': tweet.public_metrics['retweet_count'],
                       'replies': tweet.public_metrics['reply_count'],
                       'likes': tweet.public_metrics['like_count'],
                       'quote_count': tweet.public_metrics['quote_count']
                      })


df4 = pd.DataFrame(result)

In [86]:
df4['brand'] = 'Allbirds'
df4

,author_id,username,author_followers,author_tweets,author_description,author_location,text,created_at,retweets,replies,likes,quote_count,brand
0,19733647,GroveAyers,1537,24857,"Grove. Amalgamist. @UOsojc alum, @Brkfldproprt...",en route Mostly: Seattle,@sprunty2000 @CharityMiles @NWParkinsons Allbi...,2022-09-30 02:10:35+00:00,0,0,1,0,Allbirds
1,175828541,BrentonPoke,588,49253,"CS grad student, science fiction fan. Voraciou...","Lansing, MI",@Allbirds is it possible to put these in the w...,2022-09-27 17:24:40+00:00,0,1,0,0,Allbirds
2,233022380,VeraMF11,163,9354,Non-profit worker and cat mom. Former teacher ...,"Washington, DC","@Allbirds Allbirds team, I ordered a pair of s...",2022-09-27 17:05:47+00:00,0,1,0,0,Allbirds
3,18649433,lemichiiii,461,15215,sensitive bore she/her,"gainesville, fl",should i buy some allbirds shoes? dad @aliewar...,2022-09-26 21:01:50+00:00,0,1,1,0,Allbirds
4,2696296728,WilliamByrdUSA,938,8897,"Car stuff @TheHooniverse, @OutMotorsports, @Ri...","Virginia, USA",@NavigationDeck Nah it was some @Allbirds shoes!,2022-09-26 02:02:42+00:00,0,0,1,0,Allbirds
...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,34129632,DPT2Go,4583,24142,🎓 🎙 Founder @ConcussionCornr ® Academy & Podca...,"New York, NY",@Lentini_PT Love my @Allbirds 👟 🎉,2022-08-07 02:28:11+00:00,0,0,0,0,Allbirds
72,2939996287,253Coble,52,1202,"Father, husband, sneakerhead, etc.","Tacoma, WA",@sockjig @julycreps Shit looks like some Allbi...,2022-08-05 18:31:50+00:00,0,0,1,0,Allbirds
73,40507629,Bauzen,1711,92599,Photographer • Rare Watch Collector • TBI surv...,"Upper West Side, Manhattan",@mcleandavissund @RBReich I never owned a pair...,2022-08-05 13:20:55+00:00,0,1,0,0,Allbirds
74,80341837,Inderoath,180,6845,Twitch Affiliate | YT Content Creator | Fitnes...,"Washington, DC",I wasn’t sure how I’d like these but damn they...,2022-08-04 11:25:58+00:00,0,0,0,0,Allbirds
75,14842636,Katadhin,30388,45889,"Mary Catherine's Dad & Mary Shannon's Husband,...","Raleigh, NC",I wonder if @Allbirds SWOT analysis includes ‘...,2022-08-01 00:34:16+00:00,0,3,5,0,Allbirds

In [87]:
# Vans
vans_tweets = []
for response in tweepy.Paginator(client.search_all_tweets, 
                                 query = 'vans -is:retweet lang:en place_country:US',
                                 user_fields = ['username', 'public_metrics', 'description', 'location'],
                                 tweet_fields = ['created_at', 'geo', 'public_metrics', 'text'],
                                 expansions = 'author_id',
                                 start_time = '2022-08-01T00:00:00Z',
                                 end_time = '2022-09-30T23:59:59Z',
                                 max_results=500, limit = 20):
    time.sleep(1)
    vans_tweets.append(response)

In [88]:
result = []
user_dict = {}

for response in vans_tweets:

    for user in response.includes['users']:
        user_dict[user.id] = {'username': user.username, 
                              'followers': user.public_metrics['followers_count'],
                              'tweets': user.public_metrics['tweet_count'],
                              'description': user.description,
                              'location': user.location
                             }
    for tweet in response.data:

        author_info = user_dict[tweet.author_id]

        result.append({'author_id': tweet.author_id, 
                       'username': author_info['username'],
                       'author_followers': author_info['followers'],
                       'author_tweets': author_info['tweets'],
                       'author_description': author_info['description'],
                       'author_location': author_info['location'],
                       'text': tweet.text,
                       'created_at': tweet.created_at,
                       'retweets': tweet.public_metrics['retweet_count'],
                       'replies': tweet.public_metrics['reply_count'],
                       'likes': tweet.public_metrics['like_count'],
                       'quote_count': tweet.public_metrics['quote_count']
                      })


df5 = pd.DataFrame(result)
df5['brand'] = 'Vans'
df5

,author_id,username,author_followers,author_tweets,author_description,author_location,text,created_at,retweets,replies,likes,quote_count,brand
0,411690904,bbynate,381,37470,Pet owner and lover ♋️♐️♏️,"Oxnard, CA",Do new vans cut up the back of everyone’s heel...,2022-09-30 23:56:11+00:00,0,1,0,0,Vans
1,320196121,PokeFanTrevor,1126,64697,Handheld Legend Affiliate - https://t.co/iG5wN...,"Villa Rica, GA",Got some new Vans for cheap 🥰🥰🥰 https://t.co/v...,2022-09-30 23:45:39+00:00,0,1,6,0,Vans
2,3238131566,HulenHannahh,316,13034,24| mama | 6.14.17 | small business owner | NA...,"Arizona, USA",Me: should i wear my vans in pictures?\nEm: do...,2022-09-30 23:14:17+00:00,0,2,2,0,Vans
3,3114994163,Holy_Coleyyyy,855,13454,We need perfection including serenity now & ev...,"Clarendon, TX",👍🏻✌️🕺💃♾! Vans on! Glam' song! Dance strong! Pr...,2022-09-30 23:09:34+00:00,0,0,2,0,Vans
4,1487020128826904576,DopeStilo,2381,4526,Singer🎤 Surfer 🌊 Producer🔊 Latin🦋 @StiloMusicG...,"California, USA",@Ms_Gekko @PrizemArtNft @MyCreativeOwls @HICee...,2022-09-30 22:05:18+00:00,1,0,4,0,Vans
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1377,142895572,TJMattf,1040,93266,#BellasFella,"Minneapolis, MN",@allyallyallyaye Nice Vans,2022-08-01 02:30:33+00:00,0,0,0,0,Vans
1378,142895572,TJMattf,1040,93266,#BellasFella,"Minneapolis, MN",@texaschriss9 Nice Vans,2022-08-01 02:11:29+00:00,0,0,0,0,Vans
1379,1216908853612359680,Jason77706,9,2530,Av Geek,None,@LorenRuch @Hertz There are enough vans. Just...,2022-08-01 02:03:54+00:00,0,0,0,0,Vans
1380,181634813,buzyntexas,1250,58066,Everything Cowboys|🙏🏿 Believer|Grilled cheese ...,"Somewhere making it happen, TX",It’s so common to see people sleepiness’s n th...,2022-08-01 01:04:10+00:00,0,0,0,0,Vans
1381,1179102171985596416,SteveRi83474517,916,6082,"Time flys day or night,\nevery tweet I read an...","Cleveland, OH",@Magagal_ @AnnastasiaD4L I did this with my va...,2022-08-01 00:16:01+00:00,0,0,2,0,Vans

In [89]:
# Skechers
skechers_tweets = []
for response in tweepy.Paginator(client.search_all_tweets, 
                                 query = 'skechers -is:retweet lang:en place_country:US',
                                 user_fields = ['username', 'public_metrics', 'description', 'location'],
                                 tweet_fields = ['created_at', 'geo', 'public_metrics', 'text'],
                                 expansions = 'author_id',
                                 start_time = '2022-08-01T00:00:00Z',
                                 end_time = '2022-09-30T23:59:59Z',
                                 max_results=500, limit = 20):
    time.sleep(1)
    skechers_tweets.append(response)

In [90]:
result = []
user_dict = {}

for response in skechers_tweets:

    for user in response.includes['users']:
        user_dict[user.id] = {'username': user.username, 
                              'followers': user.public_metrics['followers_count'],
                              'tweets': user.public_metrics['tweet_count'],
                              'description': user.description,
                              'location': user.location
                             }
    for tweet in response.data:

        author_info = user_dict[tweet.author_id]

        result.append({'author_id': tweet.author_id, 
                       'username': author_info['username'],
                       'author_followers': author_info['followers'],
                       'author_tweets': author_info['tweets'],
                       'author_description': author_info['description'],
                       'author_location': author_info['location'],
                       'text': tweet.text,
                       'created_at': tweet.created_at,
                       'retweets': tweet.public_metrics['retweet_count'],
                       'replies': tweet.public_metrics['reply_count'],
                       'likes': tweet.public_metrics['like_count'],
                       'quote_count': tweet.public_metrics['quote_count']
                      })


df6 = pd.DataFrame(result)
df6['brand'] = 'Skechers'
df6

,author_id,username,author_followers,author_tweets,author_description,author_location,text,created_at,retweets,replies,likes,quote_count,brand
0,2320034306,_krownjules,398,26230,underrated is an understatement,"Jersey City, New YERRsey",@jessy06961052 whichever one don’t got Skecher...,2022-09-30 16:56:07+00:00,0,0,0,0,Skechers
1,1249362884,_cdotT4,413,6254,📍NJ // IG: _c.t4 📸 \\ Cheyney U,None,@Ty__215 @brittanyrennerr Skechers on here is ...,2022-09-27 17:37:39+00:00,0,1,1,0,Skechers
2,1515776966208675850,Apizzle1800,15,352,#LLKP #4Evachukii 18💫💫 ATHLETE 🏀 5’9 c/o 2018,None,Shorty doooo not careee her ass got on Skecher...,2022-09-26 23:59:55+00:00,0,0,0,0,Skechers
3,1103385955661201408,run_marc_run,566,7995,"Baseball, Beers, Bills.","Lancaster, NY",@RockpileReport @Alf_Arteaga Fire all those Sk...,2022-09-26 16:56:34+00:00,1,0,2,0,Skechers
4,1145466823422308353,eari_m,727,75534,I'm that elusive auto part that ur buddies tol...,Sears Automotive U.S.A.,@omgitsbae10 @Crocs @WillDeas3 @lesmiller64 i ...,2022-09-24 21:32:58+00:00,0,1,3,0,Skechers
...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,1554492930638745602,8102sdca,0,197,It ends when it begins.,None,Bought 2 pairs of Skechers shoes. Buy one get ...,2022-08-05 00:26:01+00:00,0,0,0,0,Skechers
60,1448339285074190338,EmilyMu38142215,947,9665,I'm an optimistic person with a sense of humou...,"Nashville, TN",@reevesyk1 @SKECHERS_UK I think you don't have...,2022-08-04 14:53:55+00:00,0,0,1,0,Skechers
61,1251510910390337536,_RadicalReality,2470,181813,@KittyKatKeee @Rebeccahansonn @porcelain_yin @...,PROTECTED BY MEGAN😍,Great to visit Skechers this morning. https://...,2022-08-02 15:38:58+00:00,0,0,0,0,Skechers
62,288570387,juliescloe,389,8360,I’d rather be in the mountains.,WPS,My husband is not allowed to wear Skechers gol...,2022-08-02 00:30:54+00:00,0,0,3,0,Skechers
63,17849182,cgperry,134,2627,,NYC,@Skechers why have people take 20 mins to sign...,2022-08-01 18:39:05+00:00,0,0,0,0,Skechers

In [91]:
# Converse
converse_tweets = []
for response in tweepy.Paginator(client.search_all_tweets, 
                                 query = 'converse -is:retweet lang:en place_country:US',
                                 user_fields = ['username', 'public_metrics', 'description', 'location'],
                                 tweet_fields = ['created_at', 'geo', 'public_metrics', 'text'],
                                 expansions = 'author_id',
                                 start_time = '2022-08-01T00:00:00Z',
                                 end_time = '2022-09-30T23:59:59Z',
                                 max_results=500, limit = 20):
    time.sleep(1)
    converse_tweets.append(response)

In [92]:
result = []
user_dict = {}

for response in converse_tweets:

    for user in response.includes['users']:
        user_dict[user.id] = {'username': user.username, 
                              'followers': user.public_metrics['followers_count'],
                              'tweets': user.public_metrics['tweet_count'],
                              'description': user.description,
                              'location': user.location
                             }
    for tweet in response.data:

        author_info = user_dict[tweet.author_id]

        result.append({'author_id': tweet.author_id, 
                       'username': author_info['username'],
                       'author_followers': author_info['followers'],
                       'author_tweets': author_info['tweets'],
                       'author_description': author_info['description'],
                       'author_location': author_info['location'],
                       'text': tweet.text,
                       'created_at': tweet.created_at,
                       'retweets': tweet.public_metrics['retweet_count'],
                       'replies': tweet.public_metrics['reply_count'],
                       'likes': tweet.public_metrics['like_count'],
                       'quote_count': tweet.public_metrics['quote_count']
                      })


df7 = pd.DataFrame(result)
df7['brand'] = 'Converse'
df7

,author_id,username,author_followers,author_tweets,author_description,author_location,text,created_at,retweets,replies,likes,quote_count,brand
0,16274684,AuburnTgrMOates,650,18714,He/Him. Who am I? No. Who are YOU? What are yo...,"Columbus, Georgia",@_brooklynsummer @RobertLeveyII @jahsim346 @Co...,2022-09-30 21:10:37+00:00,0,0,1,0,Converse
1,298020473,REMAXnorthSA,592,8387,,"8131 W Hausman, San Antonio TX",See a virtual tour of one of our newest #listi...,2022-09-30 21:04:13+00:00,0,0,0,0,Converse
2,23017444,tmj_sat_cler,91,898,Follow this account for geo-targeted Office/Cl...,"San Antonio, TX",Can you recommend anyone for this Admin/Secret...,2022-09-30 20:24:25+00:00,0,0,0,0,Converse
3,1134851982,meetDTrav,1127,14750,Booking agent and promotion member of B.O.M Bo...,"Columbus, Ohio",@emann28210 @shaqwitnobricks @JAYALNOCAP Good ...,2022-09-30 19:19:45+00:00,0,2,0,0,Converse
4,22157813,tmj_sat_nursing,412,785,Follow this account for geo-targeted Healthcar...,"San Antonio, TX","Want to land a job like ""Patient Care Technici...",2022-09-30 17:59:02+00:00,0,0,0,0,Converse
...,...,...,...,...,...,...,...,...,...,...,...,...,...
941,539142424,NorthBeachDude,6,304,,"Massachusetts, USA",Think about this sports fans when talking abou...,2022-08-01 15:33:05+00:00,0,0,0,0,Converse
942,36427341,__KJF55,907,45607,Detroit...,Detroit,Chillin' out on this patio... I'm just glad I ...,2022-08-01 06:23:20+00:00,0,0,0,0,Converse
943,124081985,MiissBehave,377,27514,,"Manhattan, NY","Once the mind is made up, there’s no need to f...",2022-08-01 03:31:06+00:00,0,0,1,0,Converse
944,928741691510620160,jawilaa,39,572,coach pussy slayer,"North Carolina, USA",@jiawnah me with my converse,2022-08-01 02:17:56+00:00,0,0,0,0,Converse
945,22685659,kariroxx,7299,36309,"📍 Long Beach, CA #Lakers #Dodgers #RamsHouse #...",None,Converse weren’t just made for playing basketb...,2022-08-01 01:28:14+00:00,2,15,202,1,Converse

In [93]:
# Reebok
reebok_tweets = []
for response in tweepy.Paginator(client.search_all_tweets, 
                                 query = 'reebok -is:retweet lang:en place_country:US',
                                 user_fields = ['username', 'public_metrics', 'description', 'location'],
                                 tweet_fields = ['created_at', 'geo', 'public_metrics', 'text'],
                                 expansions = 'author_id',
                                 start_time = '2022-08-01T00:00:00Z',
                                 end_time = '2022-09-30T23:59:59Z',
                                 max_results=500, limit = 20):
    time.sleep(1)
    reebok_tweets.append(response)

In [94]:
result = []
user_dict = {}

for response in reebok_tweets:

    for user in response.includes['users']:
        user_dict[user.id] = {'username': user.username, 
                              'followers': user.public_metrics['followers_count'],
                              'tweets': user.public_metrics['tweet_count'],
                              'description': user.description,
                              'location': user.location
                             }
    for tweet in response.data:

        author_info = user_dict[tweet.author_id]

        result.append({'author_id': tweet.author_id, 
                       'username': author_info['username'],
                       'author_followers': author_info['followers'],
                       'author_tweets': author_info['tweets'],
                       'author_description': author_info['description'],
                       'author_location': author_info['location'],
                       'text': tweet.text,
                       'created_at': tweet.created_at,
                       'retweets': tweet.public_metrics['retweet_count'],
                       'replies': tweet.public_metrics['reply_count'],
                       'likes': tweet.public_metrics['like_count'],
                       'quote_count': tweet.public_metrics['quote_count']
                      })


df8 = pd.DataFrame(result)
df8['brand'] = 'Reebok'
df8

,author_id,username,author_followers,author_tweets,author_description,author_location,text,created_at,retweets,replies,likes,quote_count,brand
0,21984092,cristinavanko,5696,35234,building @datewitharrow audio dating 🏹 acd art...,"New York, NY",@jemgold_ ariats are comfy and cute (reebok so...,2022-09-30 18:11:34+00:00,0,2,1,0,Reebok
1,1574967030331199497,DiannaJ71861947,1,8,Black YouTuber using my real name this year my...,United States,@iamcardib @Reebok Please do a color in lime.,2022-09-30 17:32:43+00:00,0,0,0,0,Reebok
2,797161473382502400,scrmblnscholar,309,26451,My life is a play. Addicted to hoops. Sneakerh...,None,@TheDoddJD Reebok ones don't count lol,2022-09-30 16:19:03+00:00,0,0,0,0,Reebok
3,797161473382502400,scrmblnscholar,309,26451,My life is a play. Addicted to hoops. Sneakerh...,None,The Reebok game worn authentics from the final...,2022-09-30 16:00:55+00:00,3,2,18,0,Reebok
4,576574220,BurtonGuster216,1384,23220,Just ask me to elaborate my thoughts. Please. ...,"Chicago, IL",Hot take…. People sleep on Reebok products. Qu...,2022-09-30 03:44:48+00:00,0,2,2,0,Reebok
...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,775916651187351553,The_Han_Br0lo,157,9389,I’m Rene. I throw baseballs and occasionally h...,"Phoenix, AZ","Armpit musty, Reebok crusty https://t.co/KjJ3z...",2022-08-02 20:12:31+00:00,0,0,1,1,Reebok
242,2918955818,marcelobalboa17,11307,3941,Official Twitter of Marcelo Balboa USMNT Membe...,None,@DoubleOhNegatve I believe that was the Reebok...,2022-08-02 04:52:46+00:00,0,1,1,0,Reebok
243,19039664,linnynicks,300,11476,bring the data,phila,If you ever find yourself talking shit on will...,2022-08-02 00:43:42+00:00,0,0,2,0,Reebok
244,105267482,ItzMrBlunt2Yall,15135,198393,I’m going to talk a lot of shit you’re not goi...,"San Diego, California","Think the 4,5 shoes gon be Reebok, Doc’s and s...",2022-08-01 18:19:04+00:00,0,0,0,0,Reebok
245,37935188,say_blk,4050,176438,,"Houston, TX",🔥 It is back to school shopping time and what ...,2022-08-01 13:30:07+00:00,7,1,12,1,Reebok

In [96]:
# Under Armour
ua_tweets = []
for response in tweepy.Paginator(client.search_all_tweets, 
                                 query = 'under armour -is:retweet lang:en place_country:US',
                                 user_fields = ['username', 'public_metrics', 'description', 'location'],
                                 tweet_fields = ['created_at', 'geo', 'public_metrics', 'text'],
                                 expansions = 'author_id',
                                 start_time = '2022-08-01T00:00:00Z',
                                 end_time = '2022-09-30T23:59:59Z',
                                 max_results=500, limit = 20):
    time.sleep(1)
    ua_tweets.append(response)

In [97]:
result = []
user_dict = {}

for response in ua_tweets:

    for user in response.includes['users']:
        user_dict[user.id] = {'username': user.username, 
                              'followers': user.public_metrics['followers_count'],
                              'tweets': user.public_metrics['tweet_count'],
                              'description': user.description,
                              'location': user.location
                             }
    for tweet in response.data:

        author_info = user_dict[tweet.author_id]

        result.append({'author_id': tweet.author_id, 
                       'username': author_info['username'],
                       'author_followers': author_info['followers'],
                       'author_tweets': author_info['tweets'],
                       'author_description': author_info['description'],
                       'author_location': author_info['location'],
                       'text': tweet.text,
                       'created_at': tweet.created_at,
                       'retweets': tweet.public_metrics['retweet_count'],
                       'replies': tweet.public_metrics['reply_count'],
                       'likes': tweet.public_metrics['like_count'],
                       'quote_count': tweet.public_metrics['quote_count']
                      })


df9 = pd.DataFrame(result)
df9['brand'] = 'Under Armour'
df9

,author_id,username,author_followers,author_tweets,author_description,author_location,text,created_at,retweets,replies,likes,quote_count,brand
0,1045871486299492352,itsjacieeeee,303,3580,Be original 💞 God first ❤️Cardiovascular tech 🫀🫁,"Las Cruces, NM",My biggest win is being able to wear XL in kid...,2022-09-30 11:22:56+00:00,0,0,4,0,Under Armour
1,41874604,ChicagoMT22,106,6055,"Family man, father, consultant, and part time ...","Chicago, IL",@Joeingram1 She wasn't even wearing her Under ...,2022-09-30 03:41:58+00:00,0,0,2,0,Under Armour
2,26148614,danielfheck,2765,19386,"Assistant AD of Marketing, @AuburnTigers | @it...","Auburn, AL",Evan McPherson 🤝 AU Team Shop \n\nReminder t...,2022-09-30 03:22:21+00:00,0,0,4,0,Under Armour
3,1023258741741940736,AaronMoldenhau1,83,1502,https://t.co/M15XbVItVn,Iron ridge wi,Check out Wisconsin Badgers Under Armour Women...,2022-09-29 18:16:01+00:00,0,0,0,0,Under Armour
4,1407725815345917952,StarsNash_MBB,1305,1733,STARS Basketball Club powered by Under Armour....,"Nashville, TN",It was another great week at the STARS High Sc...,2022-09-29 16:57:16+00:00,2,0,8,0,Under Armour
...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,1873452596,a_luevano,967,16402,Sports Director @23ABCNews - @Fresno_State Alum,"Bakersfield, CA",It’s official: CSU Bakersfield and Under Armou...,2022-08-02 18:27:28+00:00,5,0,27,1,Under Armour
167,1474403171082674221,saharaw_2025,450,93,4.3 GPA | Slapper/Power Hitter | CF | H2F 2.56...,"Wake Forest, NC",STARZ MADE SOME NOISE TODAY! Got the opportuni...,2022-08-02 02:06:23+00:00,3,3,48,2,Under Armour
168,146716348,okinfortworth,3247,38147,God is good ALL the time! Love 🇺🇸 🎣 BASS LIFE ...,Arlington TX,@AndrewNemec @DJ2g23 “Hicks has a lot of time ...,2022-08-02 01:08:24+00:00,0,0,2,0,Under Armour
169,1145893268439236608,WaybrightAdam,558,4503,,Worldwide,CSU Bakersfield Athletics will announce a new ...,2022-08-01 22:52:41+00:00,2,2,7,0,Under Armour
170,1233540039524716545,Diesel_Crush,652,57114,"Army Vet, Whiskey drinking, soul food eating, ...","New Orleans, LA","Nike, Under Armour, Samsung https://t.co/EePpY...",2022-08-01 19:11:59+00:00,0,0,0,0,Under Armour

In [98]:
# New Balance
nb_tweets = []
for response in tweepy.Paginator(client.search_all_tweets, 
                                 query = 'new balance -is:retweet lang:en place_country:US',
                                 user_fields = ['username', 'public_metrics', 'description', 'location'],
                                 tweet_fields = ['created_at', 'geo', 'public_metrics', 'text'],
                                 expansions = 'author_id',
                                 start_time = '2022-08-01T00:00:00Z',
                                 end_time = '2022-09-30T23:59:59Z',
                                 max_results=500, limit = 20):
    time.sleep(1)
    nb_tweets.append(response)

In [99]:
result = []
user_dict = {}

for response in nb_tweets:

    for user in response.includes['users']:
        user_dict[user.id] = {'username': user.username, 
                              'followers': user.public_metrics['followers_count'],
                              'tweets': user.public_metrics['tweet_count'],
                              'description': user.description,
                              'location': user.location
                             }
    for tweet in response.data:

        author_info = user_dict[tweet.author_id]

        result.append({'author_id': tweet.author_id, 
                       'username': author_info['username'],
                       'author_followers': author_info['followers'],
                       'author_tweets': author_info['tweets'],
                       'author_description': author_info['description'],
                       'author_location': author_info['location'],
                       'text': tweet.text,
                       'created_at': tweet.created_at,
                       'retweets': tweet.public_metrics['retweet_count'],
                       'replies': tweet.public_metrics['reply_count'],
                       'likes': tweet.public_metrics['like_count'],
                       'quote_count': tweet.public_metrics['quote_count']
                      })


df10 = pd.DataFrame(result)
df10['brand'] = 'New Balance'
df10

,author_id,username,author_followers,author_tweets,author_description,author_location,text,created_at,retweets,replies,likes,quote_count,brand
0,2939996287,253Coble,52,1202,"Father, husband, sneakerhead, etc.","Tacoma, WA",@sockjig Really hope it isn’t the end he’s suc...,2022-09-30 20:24:54+00:00,0,1,1,0,New Balance
1,48419856,stuartpalley,22730,52040,"Photographer, writer, maker | Into The Inferno...",Acjachemen Land,And no New Balance 501s are NOT an option,2022-09-30 20:10:28+00:00,0,1,5,0,New Balance
2,1357847875477241857,kevin_ny_9,95,131,Based in New York,"Queens, NY",Kith for New Balance \nFall2 2022 https://t.co...,2022-09-30 19:15:27+00:00,0,0,45,0,New Balance
3,77118134,batesbn,2031,4151,#Author #FreelanceWriter #Journalist in #Cleve...,Cleveland,Excited to hear @kkellyhancock @MAGNETOhio @Ne...,2022-09-30 16:19:48+00:00,2,0,2,0,New Balance
4,112921508,ChaseStackwells,842,75086,"Sneaker Connoisseur, Big Steppa, Cultured Indi...","Houston, TX",I'm going to have 5 pairs of New Balance in my...,2022-09-30 15:48:21+00:00,0,0,0,0,New Balance
...,...,...,...,...,...,...,...,...,...,...,...,...,...
661,39148101,EmilyFurda,578,35532,"Blogger, writer, editor. Jesus follower. Pengu...","Johnstown, Pa",@Local12Kathryn 2 new pairs of New Balance for...,2022-08-01 10:25:13+00:00,0,0,0,0,New Balance
662,1909661978,RaymondGill_,717,18670,,"Fort Worth, Texas",First day of a new month. Always be bold and l...,2022-08-01 10:19:18+00:00,0,0,2,0,New Balance
663,261714969,Saenthegod,726,51120,half hurricane half volcano,None,“New balance sneakerssssss “ haha I got the va...,2022-08-01 09:19:50+00:00,0,0,0,0,New Balance
664,249988680,_surfresh,2566,153575,Photographer 📸,"Dallas, TX",I’ve enjoyed all the new music that’s dropped ...,2022-08-01 02:22:19+00:00,1,2,1,0,New Balance
665,41593115,iamscottenglish,3189,8538,Political has been turned philatelist. Interna...,"Bellefonte, PA",@DigiPhilatelist @CollectsStamps @virtuafil Th...,2022-08-01 01:43:37+00:00,0,1,3,0,New Balance

In [100]:
# Adidas
adidas_tweets = []
for response in tweepy.Paginator(client.search_all_tweets, 
                                 query = 'adidas -is:retweet lang:en place_country:US',
                                 user_fields = ['username', 'public_metrics', 'description', 'location'],
                                 tweet_fields = ['created_at', 'geo', 'public_metrics', 'text'],
                                 expansions = 'author_id',
                                 start_time = '2022-08-01T00:00:00Z',
                                 end_time = '2022-09-30T23:59:59Z',
                                 max_results=500, limit = 20):
    time.sleep(1)
    adidas_tweets.append(response)

In [101]:
result = []
user_dict = {}

for response in adidas_tweets:

    for user in response.includes['users']:
        user_dict[user.id] = {'username': user.username, 
                              'followers': user.public_metrics['followers_count'],
                              'tweets': user.public_metrics['tweet_count'],
                              'description': user.description,
                              'location': user.location
                             }
    for tweet in response.data:

        author_info = user_dict[tweet.author_id]

        result.append({'author_id': tweet.author_id, 
                       'username': author_info['username'],
                       'author_followers': author_info['followers'],
                       'author_tweets': author_info['tweets'],
                       'author_description': author_info['description'],
                       'author_location': author_info['location'],
                       'text': tweet.text,
                       'created_at': tweet.created_at,
                       'retweets': tweet.public_metrics['retweet_count'],
                       'replies': tweet.public_metrics['reply_count'],
                       'likes': tweet.public_metrics['like_count'],
                       'quote_count': tweet.public_metrics['quote_count']
                      })


df11 = pd.DataFrame(result)
df11['brand'] = 'Adidas'
df11

,author_id,username,author_followers,author_tweets,author_description,author_location,text,created_at,retweets,replies,likes,quote_count,brand
0,85966951,deftones4u,64,290,,None,@SouthPark @adidas I need a replacement pair! ...,2022-09-30 23:29:16+00:00,0,0,0,0,Adidas
1,1247183624425930753,TeamLexHoops,895,120,Select girls' basketball club named after WNBA...,"Texas, USA",Team Lex Nation would like to congratulate McK...,2022-09-30 23:07:19+00:00,8,1,53,1,Adidas
2,71125241,VillageSoccer,357,1732,A Soccer & Lifestyle Joint.,"Tarrytown, New York",Pure 🇺🇸 Beauty.\n#vssvintage\n#ussoccer\n#adid...,2022-09-30 22:10:45+00:00,0,0,0,0,Adidas
3,788291030,abdulla_12_92,703,9724,"#Football, #Basketball and #Baseball Guy 🏈🏀⚾️....","New York, NY",Need these 🔥. @adidas @PatrickMahomes #adidas ...,2022-09-30 20:50:41+00:00,0,0,0,0,Adidas
4,1178740207375519744,ManriqueTj,10244,28843,"I write SciFi, horror & other books. My debut ...",None,@thanightskyy03 Yes they are. There's a place ...,2022-09-30 20:16:14+00:00,0,0,0,0,Adidas
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2345,1535065371874566151,goodhairgardner,19,50,#MaskUp #VaxUp #BIDEN24,Everywhere,As an unbiased youth sports fan. I am once aga...,2022-08-01 01:32:25+00:00,0,2,1,0,Adidas
2346,1504474595650273283,7795Specter,1,283,,"Westfield, MA","I like Adidas, nice company.",2022-08-01 01:09:12+00:00,0,0,0,0,Adidas
2347,461627703,macburgz,3660,66292,outside trynna endure,"Lemon Grove, CA",Just never buy adidas shoes anymore,2022-08-01 01:00:19+00:00,0,0,0,0,Adidas
2348,461627703,macburgz,3660,66292,outside trynna endure,"Lemon Grove, CA",Sometimes I wanna wear my adidas sweatpants wi...,2022-08-01 00:59:57+00:00,0,1,4,0,Adidas
2349,948340326737072128,Walk_Off_Sports,5843,7662,•Perfect Game USA Affiliate Partner •Future HQ...,"Texas, USA",Adidas Titans-John Ramsey launches a double to...,2022-08-01 00:10:04+00:00,3,1,9,1,Adidas

In [102]:
# Nike
nike_tweets = []
for response in tweepy.Paginator(client.search_all_tweets, 
                                 query = 'nike -is:retweet lang:en place_country:US',
                                 user_fields = ['username', 'public_metrics', 'description', 'location'],
                                 tweet_fields = ['created_at', 'geo', 'public_metrics', 'text'],
                                 expansions = 'author_id',
                                 start_time = '2022-08-01T00:00:00Z',
                                 end_time = '2022-09-30T23:59:59Z',
                                 max_results=500, limit = 20):
    time.sleep(1)
    nike_tweets.append(response)

In [103]:
result = []
user_dict = {}

for response in nike_tweets:

    for user in response.includes['users']:
        user_dict[user.id] = {'username': user.username, 
                              'followers': user.public_metrics['followers_count'],
                              'tweets': user.public_metrics['tweet_count'],
                              'description': user.description,
                              'location': user.location
                             }
    for tweet in response.data:

        author_info = user_dict[tweet.author_id]

        result.append({'author_id': tweet.author_id, 
                       'username': author_info['username'],
                       'author_followers': author_info['followers'],
                       'author_tweets': author_info['tweets'],
                       'author_description': author_info['description'],
                       'author_location': author_info['location'],
                       'text': tweet.text,
                       'created_at': tweet.created_at,
                       'retweets': tweet.public_metrics['retweet_count'],
                       'replies': tweet.public_metrics['reply_count'],
                       'likes': tweet.public_metrics['like_count'],
                       'quote_count': tweet.public_metrics['quote_count']
                      })


df12 = pd.DataFrame(result)
df12['brand'] = 'Nike'
df12

,author_id,username,author_followers,author_tweets,author_description,author_location,text,created_at,retweets,replies,likes,quote_count,brand
0,87144412,GarrettKGray,370,12033,Land Economist & Economic Development Speciali...,"Coos Bay, OR",@ShaneDaleAZ Totally. The Nike uniforms since ...,2022-09-30 23:46:59+00:00,0,0,0,0,Nike
1,492330913,LockDown_Lopes,459,97476,"@nicekicks, sports, & memes | University of Ar...","Scottsdale, AZ",Hats off to Tom Sachs and the marketing team a...,2022-09-30 23:43:45+00:00,0,0,0,0,Nike
2,37706001,RyanGensler,6679,13596,315 Born and Raised: Assistant Basketball Coac...,"Champaign, IL",The look on @makiracook face! 😂 \n\nThanks @Ni...,2022-09-30 23:38:15+00:00,1,1,23,0,Nike
3,17417435,ShellzBoss,563,22062,"#TeamLibra #TeamLesbian Hibernating, should be...","Maryland, Michigan",Check out my new pickup from Nike⁠ SNKRS: http...,2022-09-30 23:35:28+00:00,0,1,0,0,Nike
4,853714067692806144,DJKingJam,319,3116,Jordan Shoe collector || DJ Jamez || Music Pro...,"Seattle, WA",@jameslfreelance @Jumpman23 @Nike @nikestore O...,2022-09-30 23:15:57+00:00,0,0,2,0,Nike
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7890,40580353,JBlock49,4223,143775,total football surrogate // team site coverage...,"Portland, OR",i wonder how many sports bras chloe kelly sold...,2022-08-01 00:42:17+00:00,2,0,4,0,Nike
7891,1515614465097568258,babydevoh,15,206,the angry Aries ♈️,None,Hiked the nike hill today🏃‍♂️✅,2022-08-01 00:18:54+00:00,0,0,0,0,Nike
7892,1307302810019491841,ifquinnhadagram,400,16507,❤️ 👶🏼Quinn.Oregon’04 via LA.❤️=🔋&🔋is everythin...,"Los Angeles, CA",@WTDduckss @Nike Yes yes and yes,2022-08-01 00:05:11+00:00,0,0,0,0,Nike
7893,1692907934,imwawit,16,2986,It's not easy to be me. I wasn't a good boy at...,"NY, NY",@GracezyUchi @Nike Thanks Bunso ❤️,2022-08-01 00:03:14+00:00,0,0,0,0,Nike
7894,23896893,MissSneed,4100,303841,forever on some fly shit. ✈️ don’t take me ser...,"Dallas, TX 📍",@StewardessChick me either 😭😭 i just remember ...,2022-08-01 00:02:07+00:00,0,1,0,0,Nike

In [104]:
df_concat = pd.concat([df, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12])

In [105]:
df_concat

,author_id,username,author_followers,author_tweets,author_description,author_location,text,created_at,retweets,replies,likes,quote_count,brand
0,1549441622231900164,SuchitaHedau,353,1465,,None,@kuchbhishubhh Puma shoes 😮,2022-09-30 23:59:39+00:00,0,0,1,0,Puma
1,997270922976481282,JEFF_SON_334,606,3780,"Husband, Father to a son ,COOL MF in General U...","Montgomery, AL",I hate the fact that Puma ain’t got no sneaker...,2022-09-30 22:36:38+00:00,0,0,0,0,Puma
2,69133413,tarsismenezes,391,34992,BBBholic,"Los Angeles, CA",@slashviolence @PUMA @neymarjr @pumafootball Y...,2022-09-30 22:05:04+00:00,0,0,0,0,Puma
3,508551405,My_business_man,663,18657,"This life is 100% your responsibility, so know...",Free in the World,@i95Bully @ForeverKnicks_ Nah. Puma store on 4...,2022-09-30 17:33:24+00:00,0,1,1,0,Puma
4,66769124,THIAGAOAGUIAR,1530,49626,"Paulistano , Sobrevivente ! Enquanto meu coraç...","Weehawken, NJ",Extremely disappointed PUMA . The LGBTQA+ suff...,2022-09-30 16:08:20+00:00,0,0,3,0,Puma
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7890,40580353,JBlock49,4223,143775,total football surrogate // team site coverage...,"Portland, OR",i wonder how many sports bras chloe kelly sold...,2022-08-01 00:42:17+00:00,2,0,4,0,Nike
7891,1515614465097568258,babydevoh,15,206,the angry Aries ♈️,None,Hiked the nike hill today🏃‍♂️✅,2022-08-01 00:18:54+00:00,0,0,0,0,Nike
7892,1307302810019491841,ifquinnhadagram,400,16507,❤️ 👶🏼Quinn.Oregon’04 via LA.❤️=🔋&🔋is everythin...,"Los Angeles, CA",@WTDduckss @Nike Yes yes and yes,2022-08-01 00:05:11+00:00,0,0,0,0,Nike
7893,1692907934,imwawit,16,2986,It's not easy to be me. I wasn't a good boy at...,"NY, NY",@GracezyUchi @Nike Thanks Bunso ❤️,2022-08-01 00:03:14+00:00,0,0,0,0,Nike
7894,23896893,MissSneed,4100,303841,forever on some fly shit. ✈️ don’t take me ser...,"Dallas, TX 📍",@StewardessChick me either 😭😭 i just remember ...,2022-08-01 00:02:07+00:00,0,1,0,0,Nike

In [106]:
df_concat.to_csv('brands_franyang_oct1.csv')