In [1]:
import tweepy
import time
import pandas as pd

In [2]:
client = tweepy.Client(bearer_token='AAAAAAAAAAAAAAAAAAAAAGLLhgEAAAAA1aGUpgPRg1fa8jo5sgy7dpshzNg%3D6RVr4MCm9qHTe3SzL8FhxJlqwzW5qdeR9MwWZ8wwEb4FNLM8vZ',wait_on_rate_limit=True)

In [3]:
# Sneakers
sneakers_tweets = []
for response in tweepy.Paginator(client.search_all_tweets, 
                                 query = 'sneakers -is:retweet lang:en place_country:US',
                                 user_fields = ['id', 'username', 'name', 'public_metrics', 'description', 'location'],
                                 tweet_fields = ['id','created_at', 'public_metrics', 'text'],
                                 expansions = 'author_id',
                                 start_time = '2022-08-01T00:00:00Z',
                                 end_time = '2022-09-30T23:59:59Z',
                                 max_results=500, limit = 20):
    time.sleep(1)
    sneakers_tweets.append(response)
    
result = []
user_dict = {}

for response in sneakers_tweets:

    for user in response.includes['users']:
        user_dict[user.id] = {'id': user.id,
                              'username': user.username, 
                              'name': user.name,
                              'followers': user.public_metrics['followers_count'],
                              'tweets': user.public_metrics['tweet_count'],
                              'description': user.description,
                              'location': user.location
                             }
    for tweet in response.data:

        author_info = user_dict[tweet.author_id]

        result.append({'author_id': tweet.author_id, 
                       'username': author_info['username'],
                       'author_name': author_info['name'],
                       'author_followers': author_info['followers'],
                       'author_tweets': author_info['tweets'],
                       'author_description': author_info['description'],
                       'author_location': author_info['location'],
                       'text': tweet.text,
                       'tweet_id': tweet.id,
                       'created_at': tweet.created_at,
                       'retweets': tweet.public_metrics['retweet_count'],
                       'replies': tweet.public_metrics['reply_count'],
                       'likes': tweet.public_metrics['like_count'],
                       'quote_count': tweet.public_metrics['quote_count']
                      })


df = pd.DataFrame(result)

df['type'] = 'Sneakers'
df

,author_id,username,author_name,author_followers,author_tweets,author_description,author_location,text,tweet_id,created_at,retweets,replies,likes,quote_count,type
0,1493612427304488965,1KHABYS,1KHABYS,133,2347,Be ¬•a $elf or Bring ¬•a $hooters! üëÄüéÆ BYS LLC‚Ñ¢Ô∏è ...,Around da corner‚≠êÔ∏è,Privileged never paid over box price for sneakers,1575991050551771136,2022-09-30 23:28:41+00:00,0,0,0,0,Sneakers
1,29560488,CarrieMae_,Diary Entry #314509,345,12299,"the devil works hard, kris jenner works harder","Brooklyn, NY",Trying to have a peaceful evening and at the r...,1575989130130956288,2022-09-30 23:21:03+00:00,0,0,0,0,Sneakers
2,22680919,MattHalfhill,Matt Halfhill,13051,583,Founder + CEO of @nicekicks. Product of Fresno.,"Austin, TX",Drop sneakers at a job fair if you don‚Äôt want ...,1575987197576368128,2022-09-30 23:13:22+00:00,111,45,1193,32,Sneakers
3,997270922976481282,JEFF_SON_334,üèÅüèÅü•ãüèàBishop Sycamore Starting CBüèàü•ãüèÅüèÅ,625,3917,"Husband, Father to a son ,COOL MF in General U...","Montgomery, AL",I hate the fact that Puma ain‚Äôt got no sneaker...,1575977949807116288,2022-09-30 22:36:38+00:00,0,0,0,0,Sneakers
4,101915799,kwamemorgan,Kwame Morgan,848,25469,Follow my IG : @Kwamemorgan,"√úT: 38.899236,-76.797741",@1_Bundles You know my lil buddies gone geek t...,1575977183948189698,2022-09-30 22:33:35+00:00,0,1,0,0,Sneakers
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2758,465886230,pshew09,Pete,57,683,The amount of Chopped I watch is utterly disgu...,None,@thadbrown7 @SharpFootball I‚Äôll bet a pair of ...,1553929126511255552,2022-08-01 02:22:29+00:00,0,1,0,0,Sneakers
2759,1348396865042132992,madzfortbz,ùîê meets DPR in 7 days 0.0,439,19882,deobiverseüßµ|| multistan,she/her || 22,they got hyunjin doing sneakers üò≠,1553928698759372802,2022-08-01 02:20:47+00:00,0,0,0,0,Sneakers
2760,1553873902606004224,ShopTheDrop253,The Drop,3,2,"Exclusive sneaker shop located in Tacoma, WA",None,Coming soon to the Tacoma Mall #Sneakers https...,1553926687217176577,2022-08-01 02:12:47+00:00,0,0,0,0,Sneakers
2761,1684503212,stylscourt,Courtney,564,22257,Taylor Swift and Harry Styles enthusiast,"GR, MI",Lol stumbled upon the perfect fit for Harry in...,1553922104663445505,2022-08-01 01:54:34+00:00,0,0,12,0,Sneakers
2762,160783887,illiotti,illiotti Media inc.,2466,54988,"socialmedia media\n#BigNewyorkcity üóΩüóΩ,\n\nNew ...",278 B.Q.,#data #science #google &amp; #twitter #analyti...,1553916640693297152,2022-08-01 01:32:52+00:00,0,0,0,0,Sneakers

In [4]:
# Boots
boots_tweets = []
for response in tweepy.Paginator(client.search_all_tweets, 
                                 query = 'boots -is:retweet lang:en place_country:US',
                                 user_fields = ['id', 'username', 'name', 'public_metrics', 'description', 'location'],
                                 tweet_fields = ['id','created_at', 'public_metrics', 'text'],
                                 expansions = 'author_id',
                                 start_time = '2022-08-01T00:00:00Z',
                                 end_time = '2022-09-30T23:59:59Z',
                                 max_results=500, limit = 20):
    time.sleep(1)
    boots_tweets.append(response)
    
result = []
user_dict = {}

for response in boots_tweets:

    for user in response.includes['users']:
        user_dict[user.id] = {'id': user.id,
                              'username': user.username, 
                              'name': user.name,
                              'followers': user.public_metrics['followers_count'],
                              'tweets': user.public_metrics['tweet_count'],
                              'description': user.description,
                              'location': user.location
                             }
    for tweet in response.data:

        author_info = user_dict[tweet.author_id]

        result.append({'author_id': tweet.author_id, 
                       'username': author_info['username'],
                       'author_name': author_info['name'],
                       'author_followers': author_info['followers'],
                       'author_tweets': author_info['tweets'],
                       'author_description': author_info['description'],
                       'author_location': author_info['location'],
                       'text': tweet.text,
                       'tweet_id': tweet.id,
                       'created_at': tweet.created_at,
                       'retweets': tweet.public_metrics['retweet_count'],
                       'replies': tweet.public_metrics['reply_count'],
                       'likes': tweet.public_metrics['like_count'],
                       'quote_count': tweet.public_metrics['quote_count']
                      })


df2 = pd.DataFrame(result)

df2['type'] = 'Boots'
df2

,author_id,username,author_name,author_followers,author_tweets,author_description,author_location,text,tweet_id,created_at,retweets,replies,likes,quote_count,type
0,238781995,Mr_Nonautomatic,$UGA~N~TANK,1868,35638,‚ñ¨‚ñ¨‚ñ¨‚ñ¨‚ñ¨‚ñ¨‚ñ¨ ‚ôû ‚ôõ ‚Ä† ‚ôõ ‚ôû ‚ñ¨‚ñ¨‚ñ¨‚ñ¨‚ñ¨‚ñ¨ IG:Boyj_,"Chicago, IL",me last night at bubble pop HIGH BOOTS \n http...,1575998247977758720,2022-09-30 23:57:17+00:00,0,2,16,0,Boots
1,873591777047052288,VigilanteWayz_,Brodrick Watson,74,5681,UNF Grad Student üìö. FSW Graduate üë®üèø‚Äçüéì. Owner o...,Saved under contact name Bri‚ù§Ô∏è,Mandate Spence vs Boots\nCrawford fight the go...,1575997083647356928,2022-09-30 23:52:40+00:00,0,0,0,0,Boots
2,1519061530205171712,navy80to04,navy80to04,54,1524,Retired HTC sw U.S. Navy 24 years. 5 ships. Am...,"Columbia, IL","@JDrewsyBC My work boots, I just ordered 3 pai...",1575996143946768385,2022-09-30 23:48:55+00:00,0,0,1,0,Boots
3,37000068,chucko24,Chuck Warner,2871,82179,"Pain is Inevitable, Suffering Is Optional US ...","iPhone: 28.097036,-82.779137",@MOmentumMoshay Dam I knew this was gonna back...,1575995057588486144,2022-09-30 23:44:36+00:00,0,1,2,0,Boots
4,525947526,ayheitscarter,Carter,589,31567,Cashapp - $CSutons31,None,Ain‚Äôt no way Fayetteville only got 3 inches üòÇ ...,1575994320242741253,2022-09-30 23:41:41+00:00,0,0,1,0,Boots
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6946,17635873,eleanoralenoraa,bloody elleü©∏,207,6020,Neither lean nor mean. She/her. Abercrombie-lo...,"Detroit, MI",fighting a very real and very comical urge to ...,1553903407253135360,2022-08-01 00:40:17+00:00,0,0,2,0,Boots
6947,2320525095,MannyTheHooper,El Hijo del KANEKI | WP | LNG,1605,104796,Got my journalist degree at Donda university. ...,"San Antonio, TX",I can‚Äôt believe he‚Äôs wrestling in real cowboy ...,1553902850022973440,2022-08-01 00:38:04+00:00,0,0,5,0,Boots
6948,4514169209,joyreeves23,Joy Reevesüó£üåàüè≥Ô∏è‚Äçüåàüá∫üá≤,62,385,Just the mother of two crazy kids..,Douglasville ga,REDNECK HOME SECURITY SYSTEM:\n1. Buy a pair o...,1553901968816578562,2022-08-01 00:34:34+00:00,0,0,0,0,Boots
6949,1293734154,StevieJPTX,Cowboys Due Diligence,2999,72637,@TheRealSportDFW | ETX Broadcasting Radio Host...,"Paris, TX",Girlfriend: ‚ÄúSo whose bed have your boots been...,1553895665406824449,2022-08-01 00:09:31+00:00,0,0,1,0,Boots
6950,1198993525964247042,BadBeatsLex,Lex,600,7491,#SPDG,United States,@__TayJones_ @OfficialBNorman lol but that‚Äôs t...,1553894874457456640,2022-08-01 00:06:22+00:00,0,1,0,0,Boots

In [5]:
# Loafers

loafers_tweets = []
for response in tweepy.Paginator(client.search_all_tweets, 
                                 query = 'loafers -is:retweet lang:en place_country:US',
                                 user_fields = ['id', 'username', 'name', 'public_metrics', 'description', 'location'],
                                 tweet_fields = ['id','created_at', 'public_metrics', 'text'],
                                 expansions = 'author_id',
                                 start_time = '2022-08-01T00:00:00Z',
                                 end_time = '2022-09-30T23:59:59Z',
                                 max_results=500, limit = 20):
    time.sleep(1)
    loafers_tweets.append(response)
    
result = []
user_dict = {}

for response in loafers_tweets:

    for user in response.includes['users']:
        user_dict[user.id] = {'id': user.id,
                              'username': user.username, 
                              'name': user.name,
                              'followers': user.public_metrics['followers_count'],
                              'tweets': user.public_metrics['tweet_count'],
                              'description': user.description,
                              'location': user.location
                             }
    for tweet in response.data:

        author_info = user_dict[tweet.author_id]

        result.append({'author_id': tweet.author_id, 
                       'username': author_info['username'],
                       'author_name': author_info['name'],
                       'author_followers': author_info['followers'],
                       'author_tweets': author_info['tweets'],
                       'author_description': author_info['description'],
                       'author_location': author_info['location'],
                       'text': tweet.text,
                       'tweet_id': tweet.id,
                       'created_at': tweet.created_at,
                       'retweets': tweet.public_metrics['retweet_count'],
                       'replies': tweet.public_metrics['reply_count'],
                       'likes': tweet.public_metrics['like_count'],
                       'quote_count': tweet.public_metrics['quote_count']
                      })


df3 = pd.DataFrame(result)

df3['type'] = 'Loafers'
df3

,author_id,username,author_name,author_followers,author_tweets,author_description,author_location,text,tweet_id,created_at,retweets,replies,likes,quote_count,type
0,197907864,Nautinole24,Baby J,155,4166,,"Pensacola, FL",@andykantor @nut_history You suggested action ...,1575912481498988544,2022-09-30 18:16:29+00:00,0,0,0,0,Loafers
1,3193779470,Protrending,ProTrending,513,3495,"Style like a Pro‚Ñ¢ | Where Fashion, Sports and ...",Los Angeles,We told you we would get #EliApple‚Äôs #TNF styl...,1575654210716082177,2022-09-30 01:10:12+00:00,0,0,1,0,Loafers
2,383627441,Lars_Griffin,Lawrence Griffin,536,1077,An actor who wants to make it to a major marke...,"Martinsville, VA",Another original knot in the dark pinstripes w...,1575629561672470528,2022-09-29 23:32:15+00:00,0,0,0,0,Loafers
3,737929982018768900,oddtank,tank,892,52972,Long Live Tayman Ô£ø | he/him,"Tampa, FL",@k_ddott them ugly ass loafers he got on his feet,1575554998582513664,2022-09-29 18:35:58+00:00,0,0,1,0,Loafers
4,208428580,CallMeMoprah,Moriah ‚ÄúTall Energy‚Äù Stephens,10329,48834,‚úû ‚Ä¢ BLACK ‚Ä¢ she/her ‚Ä¢ MN ‚Ä¢ #SPED teacher ‚Ä¢ Bil...,Anishinaabewaki,@teachergrape If those loafers are from target...,1575471789853052929,2022-09-29 13:05:20+00:00,0,0,1,0,Loafers
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,3044590740,babymp3_,‚ôÄtrinity ‚ôÇ,619,51508,sorry i‚Äôm not made out of sugar,planet god damn,@kennnyyya a pinboard of pictures of memories ...,1554307046949863424,2022-08-02 03:24:12+00:00,0,1,3,0,Loafers
234,1119877860,resipsausa,Res Ipsa,1864,3720,rƒìs ipsa loquitur [REYS ip-suh]: Latin. The th...,"Atlanta, Georgia",Cactus Silk Loafers. Limited Edition. Availabl...,1554240841522110465,2022-08-01 23:01:07+00:00,0,0,0,0,Loafers
235,733432147214635008,sleepyboiMoosh,ùë∫ùíçùíÜùíÜùíëùíöùíÉùíêùíä ùë¥ùíêùíêùíîùíâüå©Ô∏è,1001,56044,Just another kid from Woodlawn\n\n\nCommunity ...,"Madison, WI",yeah imma need those loafers lmfao,1554159524583448576,2022-08-01 17:38:00+00:00,0,0,0,0,Loafers
236,615790487,britsjoint,!,804,32905,live tweets from my brain | ‚ôìÔ∏é,texas,I‚Äôma buy these loafers idc anymore,1554082268007768064,2022-08-01 12:31:00+00:00,0,0,0,0,Loafers
237,1244838529571655687,DinahHouseFire1,Dinah House-Fire,121,1455,"drag queen, connoisseur of garbage","Little Rock, AR",Scrolling on Poshmark today looking for some l...,1553966722679554048,2022-08-01 04:51:52+00:00,0,0,0,0,Loafers

In [6]:
# Business shoes

bs_tweets = []
for response in tweepy.Paginator(client.search_all_tweets, 
                                 query = 'business shoes -is:retweet lang:en place_country:US',
                                 user_fields = ['id', 'username', 'name', 'public_metrics', 'description', 'location'],
                                 tweet_fields = ['id','created_at', 'public_metrics', 'text'],
                                 expansions = 'author_id',
                                 start_time = '2022-08-01T00:00:00Z',
                                 end_time = '2022-09-30T23:59:59Z',
                                 max_results=500, limit = 20):
    time.sleep(1)
    bs_tweets.append(response)
    
result = []
user_dict = {}

for response in bs_tweets:

    for user in response.includes['users']:
        user_dict[user.id] = {'id': user.id,
                              'username': user.username, 
                              'name': user.name,
                              'followers': user.public_metrics['followers_count'],
                              'tweets': user.public_metrics['tweet_count'],
                              'description': user.description,
                              'location': user.location
                             }
    for tweet in response.data:

        author_info = user_dict[tweet.author_id]

        result.append({'author_id': tweet.author_id, 
                       'username': author_info['username'],
                       'author_name': author_info['name'],
                       'author_followers': author_info['followers'],
                       'author_tweets': author_info['tweets'],
                       'author_description': author_info['description'],
                       'author_location': author_info['location'],
                       'text': tweet.text,
                       'tweet_id': tweet.id,
                       'created_at': tweet.created_at,
                       'retweets': tweet.public_metrics['retweet_count'],
                       'replies': tweet.public_metrics['reply_count'],
                       'likes': tweet.public_metrics['like_count'],
                       'quote_count': tweet.public_metrics['quote_count']
                      })


df4 = pd.DataFrame(result)

df4['type'] = 'Business Shoes'
df4

,author_id,username,author_name,author_followers,author_tweets,author_description,author_location,text,tweet_id,created_at,retweets,replies,likes,quote_count,type
0,1346251451950104577,MonicaWhitman17,Leighann,30,1898,üëª @ Monica_leighann 910‚úàÔ∏è585 Josephü§ûüèæ Auntie o...,None,Any time a box come in the house my man thinks...,1575586566030098432,2022-09-29 20:41:24+00:00,0,0,1,0,Business Shoes
1,49516492,BonniePuns,boo-renna,4985,59202,"heart shaped ding dong and professional chef, ...","Los Angeles, CA",going as tom cruise in risky business for Hall...,1575167715643228173,2022-09-28 16:57:03+00:00,1,1,23,0,Business Shoes
2,2714308257,anissagardizy8,Anissa Gardizy,3161,2617,Tech reporter for @bostonglobe. past: @theinfo...,"Boston, MA","Bennett Collen, a @BostonCollege alum, brings ...",1574918682362499072,2022-09-28 00:27:29+00:00,1,1,5,0,Business Shoes
3,2714308257,anissagardizy8,Anissa Gardizy,3161,2617,Tech reporter for @bostonglobe. past: @theinfo...,"Boston, MA",Endstate embeds a chip into the tongue of ever...,1574914911913771008,2022-09-28 00:12:30+00:00,0,1,3,0,Business Shoes
4,2714308257,anissagardizy8,Anissa Gardizy,3161,2617,Tech reporter for @bostonglobe. past: @theinfo...,"Boston, MA","Meet the unlikely duo that started @endstate, ...",1574912900707254273,2022-09-28 00:04:30+00:00,9,2,24,0,Business Shoes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,15728819,npssandy,Sandy,477,34244,Marathon runner. Yankees fan. Penn Stater. 23-...,"Washington, DC area",I can't go to a courthouse in anything less th...,1555570162497191937,2022-08-05 15:03:22+00:00,0,0,0,0,Business Shoes
71,4044116063,LoveeeeeShay_,SuperSHAYdee ‚ú®,294,45128,3-13-16 üëºüëº,In My Own Business üìç,UPS got me fucked up. My son shoes better be h...,1555313220348481537,2022-08-04 22:02:22+00:00,0,0,0,0,Business Shoes
72,36808473,kinjipscott,Kinji Scott,953,37679,I am not looking for a job or money. I never w...,"Baltimore, MD",@BaltoSpectator You know he worked hard in his...,1555166063951765506,2022-08-04 12:17:37+00:00,0,1,1,0,Business Shoes
73,16099690,FrederickMelo,"Frederick Melo, Reporter",13580,55213,St. Paul Pioneer Press (@pioneerpress) Urban L...,"St. Paul, Minneapolis",The Minneapolis/St. Paul Business Journal is l...,1554197306601312257,2022-08-01 20:08:08+00:00,3,1,2,1,Business Shoes
74,355374842,MrNateDunn,"Mr. Nate N. Dunn, M.Ed.",572,1390,Engineering & Robotics Educator & FLL Robotics...,"CTMS- Grapevine, TX",@baalbakd @DavidTadRussell @NicholasFerroni @a...,1553928966691487749,2022-08-01 02:21:50+00:00,0,1,1,0,Business Shoes

In [7]:
# Slippers

slippers_tweets = []
for response in tweepy.Paginator(client.search_all_tweets, 
                                 query = 'slippers -is:retweet lang:en place_country:US',
                                 user_fields = ['id', 'username', 'name', 'public_metrics', 'description', 'location'],
                                 tweet_fields = ['id','created_at', 'public_metrics', 'text'],
                                 expansions = 'author_id',
                                 start_time = '2022-08-01T00:00:00Z',
                                 end_time = '2022-09-30T23:59:59Z',
                                 max_results=500, limit = 20):
    time.sleep(1)
    slippers_tweets.append(response)
    
result = []
user_dict = {}

for response in slippers_tweets:

    for user in response.includes['users']:
        user_dict[user.id] = {'id': user.id,
                              'username': user.username, 
                              'name': user.name,
                              'followers': user.public_metrics['followers_count'],
                              'tweets': user.public_metrics['tweet_count'],
                              'description': user.description,
                              'location': user.location
                             }
    for tweet in response.data:

        author_info = user_dict[tweet.author_id]

        result.append({'author_id': tweet.author_id, 
                       'username': author_info['username'],
                       'author_name': author_info['name'],
                       'author_followers': author_info['followers'],
                       'author_tweets': author_info['tweets'],
                       'author_description': author_info['description'],
                       'author_location': author_info['location'],
                       'text': tweet.text,
                       'tweet_id': tweet.id,
                       'created_at': tweet.created_at,
                       'retweets': tweet.public_metrics['retweet_count'],
                       'replies': tweet.public_metrics['reply_count'],
                       'likes': tweet.public_metrics['like_count'],
                       'quote_count': tweet.public_metrics['quote_count']
                      })


df5 = pd.DataFrame(result)

df5['type'] = 'Slippers'
df5

,author_id,username,author_name,author_followers,author_tweets,author_description,author_location,text,tweet_id,created_at,retweets,replies,likes,quote_count,type
0,238842169,emhed_,emily hedrick,586,45754,Communication is key. Bluegrass music makes my...,"Auburn, AL",@itweetedURchick So trueee. Sometimes I take s...,1575966374278545409,2022-09-30 21:50:38+00:00,0,0,1,0,Slippers
1,1484605226220982277,intern3tthottie,Jizzel Rose,1432,844,"the names JIZZ short for Jizzel, welcum to my ...","Orlando, FL",It‚Äôs a beautiful day to wear UGGS Slippers üçÇ h...,1575965390991024128,2022-09-30 21:46:43+00:00,0,0,4,0,Slippers
2,1454713914,DedeVotesBlue,VotingRightsNow‚òÆÔ∏èüôèüèæüôèüôèüèΩüôèüèªüôèüèø,9090,27658,I‚Äôm üòØ#Prochoice - Worried about the future of ...,Portland/Breckenridge,@MadScientistFF Slippers,1575951586584514561,2022-09-30 20:51:52+00:00,0,0,0,0,Slippers
3,81259499,mzd1mple,Ï†úÎØ∏Î¶∞,24,1952,I live in hometown of #MissyElliot | forever y...,"Virginia, USA",@hourIyng #SUGAatNBAJapan #SUGA came out reall...,1575918471069970432,2022-09-30 18:40:17+00:00,0,0,0,0,Slippers
4,903094879412035584,Sarah_RN_WI,SarahRN üíôüíõ ü©∫ üåàü©∫,581,26065,"RN, Mama, Tuberous Sclerosis Complex, Intracta...","Wisconsin, USA",@BertoInPublic I worked at a discount store wh...,1575877781581242368,2022-09-30 15:58:36+00:00,0,0,1,0,Slippers
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,1547059238924853248,sa61740585,LiS,24,134,Success is standing up more than falling down ...,SF,I like these ivory slippers very much. I want ...,1554253661462704128,2022-08-01 23:52:04+00:00,0,0,0,0,Slippers
636,1549659659916947456,Jesse_110990,Jesse Helene,2,110,Sociable And Friendly,"New York, USA",I like these ivory slippers very much. I want ...,1554252924418953216,2022-08-01 23:49:08+00:00,0,0,0,0,Slippers
637,90895400,StanleyRoberts,Stanley Roberts,26203,56784,Executive Producer/Consultant. Mentioned in @R...,"37.7749¬∞ N, 122.4194¬∞ W üåäü¶Ä",@beatcop4life @RealByronAllen @nigeldick @sinb...,1554246515383681026,2022-08-01 23:23:40+00:00,0,1,0,0,Slippers
638,1462799619134533632,CuhCRYST,Crystal,143,2921,Not new to twitter old account got banned.. ‚ÄúJ...,"Memphis, TN",@1AB1_ Have house slippers at the door to replace,1554180687133024256,2022-08-01 19:02:05+00:00,0,1,1,0,Slippers
639,734900756784914432,beeljo,Jon Best,627,19993,Trump supporters: even if the info wasn't clas...,Earth,@donwinslow @JohnFetterman @DrOz I wouldn't ca...,1554114874925404162,2022-08-01 14:40:34+00:00,0,0,1,0,Slippers

In [8]:
# Sandals

sandals_tweets = []
for response in tweepy.Paginator(client.search_all_tweets, 
                                 query = 'sandals -is:retweet lang:en place_country:US',
                                 user_fields = ['id', 'username', 'name', 'public_metrics', 'description', 'location'],
                                 tweet_fields = ['id','created_at', 'public_metrics', 'text'],
                                 expansions = 'author_id',
                                 start_time = '2022-08-01T00:00:00Z',
                                 end_time = '2022-09-30T23:59:59Z',
                                 max_results=500, limit = 20):
    time.sleep(1)
    sandals_tweets.append(response)
    
result = []
user_dict = {}

for response in sandals_tweets:

    for user in response.includes['users']:
        user_dict[user.id] = {'id': user.id,
                              'username': user.username, 
                              'name': user.name,
                              'followers': user.public_metrics['followers_count'],
                              'tweets': user.public_metrics['tweet_count'],
                              'description': user.description,
                              'location': user.location
                             }
    for tweet in response.data:

        author_info = user_dict[tweet.author_id]

        result.append({'author_id': tweet.author_id, 
                       'username': author_info['username'],
                       'author_name': author_info['name'],
                       'author_followers': author_info['followers'],
                       'author_tweets': author_info['tweets'],
                       'author_description': author_info['description'],
                       'author_location': author_info['location'],
                       'text': tweet.text,
                       'tweet_id': tweet.id,
                       'created_at': tweet.created_at,
                       'retweets': tweet.public_metrics['retweet_count'],
                       'replies': tweet.public_metrics['reply_count'],
                       'likes': tweet.public_metrics['like_count'],
                       'quote_count': tweet.public_metrics['quote_count']
                      })


df6 = pd.DataFrame(result)

df6['type'] = 'Sandals'
df6

,author_id,username,author_name,author_followers,author_tweets,author_description,author_location,text,tweet_id,created_at,retweets,replies,likes,quote_count,type
0,3342189372,ashzamorano,ashley,635,1512,,None,every dad in yuma owns reef sandals,1575975928982708224,2022-09-30 22:28:36+00:00,1,0,1,0,Sandals
1,22098235,MelodyOrganics,Melody Ann Jones,903,20685,your edge control doesn‚Äôt work on me honey üßòüèæ‚Äç‚ôÄÔ∏è,"Right Place, Right Time ‚ù§Ô∏è",üé∂ Thinking about being myself for Halloween th...,1575969881614389249,2022-09-30 22:04:34+00:00,0,0,0,0,Sandals
2,259148967,andrewpelletier,Fur Trader,372,7248,songwriter/composer. producer. teacher REBORN ...,Los Angeles via Chicago,@columnatedrunes- did you ever get those huara...,1575927338906181634,2022-09-30 19:15:31+00:00,0,1,0,0,Sandals
3,1489348395017781252,dontbeweirdtome,F.U.C.K. House H.O.E.,127,6298,‚ö†Ô∏è you don‚Äôt have to follow me ‚ö†Ô∏è,None,i can't wait to get to super OG status so i ca...,1575918780043055104,2022-09-30 18:41:30+00:00,0,2,2,0,Sandals
4,3505560323,NiteniteMelissa,Melissa (She/Her) üíâüíâüíâ,7449,646788,Elizabeth Warren is my spirit animal #LPN #Jer...,None,@SykesCharlie @RadioFreeTom @tedcruz Three of ...,1575904025244889088,2022-09-30 17:42:53+00:00,0,0,3,0,Sandals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1035,304179492,blewis823,Blue Blooded Dem-Fighting Ready in the Double ‚úåüèæ‚úå,8099,120078,"No DMs, Still play Sims, 4ever Love Prince. St...",United States,Gave me something to think about. For real.\n\...,1553951380431421441,2022-08-01 03:50:54+00:00,1,3,6,0,Sandals
1036,1001178515256107009,ashtagnofilter,ashley ‚ù§Ô∏è‚Äçüî•,342,16302,just an irish girl from jersey city ‚≠êÔ∏è profess...,Thunder Road,Minus the sandals this is a classic Papa outfi...,1553934405500116992,2022-08-01 02:43:27+00:00,0,0,0,0,Sandals
1037,1539087986461114368,MouldofSteel,MouldofSteel,86,610,eBay Reseller | Small Business Owner | MBA Sp...,Wisconsin,Check out Nike Youth Boy's Kawa Slip On Slide ...,1553933289966260224,2022-08-01 02:39:01+00:00,0,0,2,0,Sandals
1038,1352673810,Kirbadactal23,Andrew Kirby,135,42883,,None,2 and a half hours until adidas sandals August,1553917091316744192,2022-08-01 01:34:39+00:00,0,0,0,0,Sandals
1039,231979119,CaramelFrost_,Ginger Spice ‚ú®,3053,273607,You don't tell a story only to yourself. There...,"Stamford, CT",For my outfit for Saturday and some cute sanda...,1553906148671111169,2022-08-01 00:51:10+00:00,0,0,1,1,Sandals

In [9]:
df_concat = pd.concat([df, df2, df3, df4, df5, df6])

In [10]:
df_concat

,author_id,username,author_name,author_followers,author_tweets,author_description,author_location,text,tweet_id,created_at,retweets,replies,likes,quote_count,type
0,1493612427304488965,1KHABYS,1KHABYS,133,2347,Be ¬•a $elf or Bring ¬•a $hooters! üëÄüéÆ BYS LLC‚Ñ¢Ô∏è ...,Around da corner‚≠êÔ∏è,Privileged never paid over box price for sneakers,1575991050551771136,2022-09-30 23:28:41+00:00,0,0,0,0,Sneakers
1,29560488,CarrieMae_,Diary Entry #314509,345,12299,"the devil works hard, kris jenner works harder","Brooklyn, NY",Trying to have a peaceful evening and at the r...,1575989130130956288,2022-09-30 23:21:03+00:00,0,0,0,0,Sneakers
2,22680919,MattHalfhill,Matt Halfhill,13051,583,Founder + CEO of @nicekicks. Product of Fresno.,"Austin, TX",Drop sneakers at a job fair if you don‚Äôt want ...,1575987197576368128,2022-09-30 23:13:22+00:00,111,45,1193,32,Sneakers
3,997270922976481282,JEFF_SON_334,üèÅüèÅü•ãüèàBishop Sycamore Starting CBüèàü•ãüèÅüèÅ,625,3917,"Husband, Father to a son ,COOL MF in General U...","Montgomery, AL",I hate the fact that Puma ain‚Äôt got no sneaker...,1575977949807116288,2022-09-30 22:36:38+00:00,0,0,0,0,Sneakers
4,101915799,kwamemorgan,Kwame Morgan,848,25469,Follow my IG : @Kwamemorgan,"√úT: 38.899236,-76.797741",@1_Bundles You know my lil buddies gone geek t...,1575977183948189698,2022-09-30 22:33:35+00:00,0,1,0,0,Sneakers
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1035,304179492,blewis823,Blue Blooded Dem-Fighting Ready in the Double ‚úåüèæ‚úå,8099,120078,"No DMs, Still play Sims, 4ever Love Prince. St...",United States,Gave me something to think about. For real.\n\...,1553951380431421441,2022-08-01 03:50:54+00:00,1,3,6,0,Sandals
1036,1001178515256107009,ashtagnofilter,ashley ‚ù§Ô∏è‚Äçüî•,342,16302,just an irish girl from jersey city ‚≠êÔ∏è profess...,Thunder Road,Minus the sandals this is a classic Papa outfi...,1553934405500116992,2022-08-01 02:43:27+00:00,0,0,0,0,Sandals
1037,1539087986461114368,MouldofSteel,MouldofSteel,86,610,eBay Reseller | Small Business Owner | MBA Sp...,Wisconsin,Check out Nike Youth Boy's Kawa Slip On Slide ...,1553933289966260224,2022-08-01 02:39:01+00:00,0,0,2,0,Sandals
1038,1352673810,Kirbadactal23,Andrew Kirby,135,42883,,None,2 and a half hours until adidas sandals August,1553917091316744192,2022-08-01 01:34:39+00:00,0,0,0,0,Sandals
1039,231979119,CaramelFrost_,Ginger Spice ‚ú®,3053,273607,You don't tell a story only to yourself. There...,"Stamford, CT",For my outfit for Saturday and some cute sanda...,1553906148671111169,2022-08-01 00:51:10+00:00,0,0,1,1,Sandals

In [11]:
df_concat.to_csv('shoe_type_franyang_oct20.csv')