In [1]:
import tweepy 
import time
import pandas as pd
import requests

In [2]:
client = tweepy.Client(bearer_token='AAAAAAAAAAAAAAAAAAAAAGLLhgEAAAAA1aGUpgPRg1fa8jo5sgy7dpshzNg%3D6RVr4MCm9qHTe3SzL8FhxJlqwzW5qdeR9MwWZ8wwEb4FNLM8vZ',wait_on_rate_limit=True)

In [3]:
# Puma
puma_tweets = []
for response in tweepy.Paginator(client.search_all_tweets, 
                                 query = 'puma -is:retweet lang:en place_country:US',
                                 user_fields = ['id', 'username', 'name', 'public_metrics', 'description', 'location'],
                                 tweet_fields = ['id', 'created_at', 'public_metrics', 'text'],
                                 expansions = 'author_id',
                                 start_time = '2022-08-01T00:00:00Z',
                                 end_time = '2022-09-30T23:59:59Z',
                                 max_results=500, limit = 20):
    time.sleep(1)
    puma_tweets.append(response)

In [4]:
result = []
user_dict = {}

for response in puma_tweets:

    for user in response.includes['users']:
        user_dict[user.id] = {'id': user.id,
                              'username': user.username, 
                              'name': user.name,
                              'followers': user.public_metrics['followers_count'],
                              'tweets': user.public_metrics['tweet_count'],
                              'description': user.description,
                              'location': user.location,
                             }
        
    for tweet in response.data:

        author_info = user_dict[tweet.author_id]

        result.append({'author_id': tweet.author_id,
                       'username': author_info['username'],
                       'author_name': author_info['name'],
                       'author_followers': author_info['followers'],
                       'author_tweets': author_info['tweets'],
                       'author_description': author_info['description'],
                       'author_location': author_info['location'],
                       'text': tweet.text,
                       'tweet_id': tweet.id,
                       'created_at': tweet.created_at,
                       'retweets': tweet.public_metrics['retweet_count'],
                       'replies': tweet.public_metrics['reply_count'],
                       'likes': tweet.public_metrics['like_count'],
                       'quote_count': tweet.public_metrics['quote_count']
                      })


df = pd.DataFrame(result)

In [5]:
df['brand'] = 'Puma'
df

,author_id,username,author_name,author_followers,author_tweets,author_description,author_location,text,tweet_id,created_at,retweets,replies,likes,quote_count,brand
0,1549441622231900164,SuchitaHedau,oxytocin,454,1907,backup account,"Chennai, India",@kuchbhishubhh Puma shoes üòÆ,1575998843371474944,2022-09-30 23:59:39+00:00,0,0,1,0,Puma
1,997270922976481282,JEFF_SON_334,üèÅüèÅü•ãüèàBishop Sycamore Starting CBüèàü•ãüèÅüèÅ,625,3917,"Husband, Father to a son ,COOL MF in General U...","Montgomery, AL",I hate the fact that Puma ain‚Äôt got no sneaker...,1575977949807116288,2022-09-30 22:36:38+00:00,0,0,0,0,Puma
2,69133413,tarsismenezes,Tarsis,392,35109,BBBholic,"Los Angeles, CA",@slashviolence @PUMA @neymarjr @pumafootball Y...,1575970006550335488,2022-09-30 22:05:04+00:00,0,0,0,0,Puma
3,508551405,My_business_man,ùìôùìÆùìºùìæùìº ùìúùì™ùìΩùì™ üåé üá≥üá™üá™üá∏üá©üá¥,681,19228,"This life is 100% your responsibility, so know...",Free in the World,@i95Bully @ForeverKnicks_ Nah. Puma store on 4...,1575901640699400192,2022-09-30 17:33:24+00:00,0,1,1,0,Puma
4,66769124,THIAGAOAGUIAR,Thiago LULA 13 ‚ù§Ô∏è‚úäüèæ,1527,50325,"Paulistano , Sobrevivente ! Enquanto meu cora√ß...","Weehawken, NJ",Extremely disappointed PUMA . The LGBTQA+ suff...,1575880230559830016,2022-09-30 16:08:20+00:00,0,0,3,0,Puma
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
734,1006992857381474305,ayabdeen,Aya Abdeen (she/her) Free BG,1818,117508,@Cronkite_ASU '25 // co-host of @WWofWomensBba...,"Phoenix, AZ","@SkyDigg4's new Puma Collection, known as Dese...",1554183397450272770,2022-08-01 19:12:51+00:00,0,1,6,0,Puma
735,347613843,derryl_golfer,Derryl Trujillo,1845,24695,@inland_sports Senior Writer & @wachoopsdigest...,"Menifee,CA",https://t.co/quM8ndfbY8 \n\nIt's Queens Court ...,1554097482023444480,2022-08-01 13:31:28+00:00,3,0,7,0,Puma
736,2669912101,SheKnowsSports,Terrika,16367,54381,@espn Sr. SM Specialist / WNBA reporter ‚Ä¢ @con...,"Hartford, CT",@Vantastix @PUMA It hasn‚Äôt dropped yet. It doe...,1554094631264157697,2022-08-01 13:20:08+00:00,0,1,2,0,Puma
737,346769869,StripeyMiata,Jonathan McCormack,1858,48635,When you get caught between the moon and New Y...,"Lisburn, Northern Ireland",@matt_kempez @MttRbnsn @KiaUKPR Reminds me of ...,1554073614198181888,2022-08-01 11:56:37+00:00,0,0,0,0,Puma
738,2777344511,bryantgardner86,üèÅBryant,412,10072,üèÅ Single Dad living in Charlotte. RIP Pa Vang....,"Pineville, NC",#puma is getting all my money,1553938283830312961,2022-08-01 02:58:52+00:00,0,0,0,0,Puma

In [6]:
# Toms
toms_tweets = []
for response in tweepy.Paginator(client.search_all_tweets, 
                                 query = 'toms -is:retweet lang:en place_country:US',
                                 user_fields = ['id', 'username', 'name', 'public_metrics', 'description', 'location'],
                                 tweet_fields = ['id','created_at', 'public_metrics', 'text'],
                                 expansions = 'author_id',
                                 start_time = '2022-08-01T00:00:00Z',
                                 end_time = '2022-09-30T23:59:59Z',
                                 max_results=500, limit = 20):
    time.sleep(1)
    toms_tweets.append(response)
    
result = []
user_dict = {}

for response in toms_tweets:

    for user in response.includes['users']:
        user_dict[user.id] = {'id': user.id,
                              'username': user.username, 
                              'name': user.name,
                              'followers': user.public_metrics['followers_count'],
                              'tweets': user.public_metrics['tweet_count'],
                              'description': user.description,
                              'location': user.location
                             }
    for tweet in response.data:

        author_info = user_dict[tweet.author_id]

        result.append({'author_id': tweet.author_id, 
                       'username': author_info['username'],
                       'author_name': author_info['name'],
                       'author_followers': author_info['followers'],
                       'author_tweets': author_info['tweets'],
                       'author_description': author_info['description'],
                       'author_location': author_info['location'],
                       'text': tweet.text,
                       'tweet_id': tweet.id,
                       'created_at': tweet.created_at,
                       'retweets': tweet.public_metrics['retweet_count'],
                       'replies': tweet.public_metrics['reply_count'],
                       'likes': tweet.public_metrics['like_count'],
                       'quote_count': tweet.public_metrics['quote_count']
                      })


df2 = pd.DataFrame(result)

df2['brand'] = 'Toms'
df2

,author_id,username,author_name,author_followers,author_tweets,author_description,author_location,text,tweet_id,created_at,retweets,replies,likes,quote_count,brand
0,4347892641,biblicalputa,jezebel,555,25896,detroit via jersey so you KNOW my pussy is mut...,"Detroit, MI","@papayessir yes the existence of toms river, n...",1575988368076247042,2022-09-30 23:18:02+00:00,0,0,2,0,Toms
1,915901424,BradyOltmans,Brady Oltmans ü§†,1469,15914,Nebraska football/recruiting reporter @HailVar...,"Lincoln, NE",Weekend reading for you.\n\n@DrakeKeeler‚Äôs tak...,1575986237105934336,2022-09-30 23:09:33+00:00,2,0,3,0,Toms
2,2714500055,AndresOnAir,Andr√©s Tejeda üéô‚öæÔ∏èüèàüèÄüèêüèí,380,6232,"üéôPxP Broadcaster for Colby, KS Sports - KRDQ 1...","Colby, KS",Wish I could be there! Miss calling @TommieMHo...,1575948078275756151,2022-09-30 20:37:56+00:00,0,0,0,0,Toms
3,1357774872,chazmatazztr,Chazmatazz TR,188,3243,Chazmatazz Formalwear of Toms River offers mor...,"Toms River, NJ",Just arrived to Chazmatazz Formalwear of Toms ...,1575934817274691585,2022-09-30 19:45:14+00:00,0,0,0,0,Toms
4,1414684496,everyEarthquake,Every Earthquake,28131,759243,Tweeting every earthquake occurrence reported ...,Earth,"USGS reports a M1.23 earthquake, 17km E of Tom...",1575900678249127938,2022-09-30 17:29:35+00:00,1,0,5,0,Toms
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,1414684496,everyEarthquake,Every Earthquake,28131,759243,Tweeting every earthquake occurrence reported ...,Earth,"USGS reports a M1.71 earthquake, 37km N of Tom...",1554141615178014720,2022-08-01 16:26:50+00:00,1,0,3,0,Toms
685,50706690,511NY,511 New York,4034,5852656,Traffic & transit updates for all of New York ...,New York State,Construction on #GardenStateParkway NB from So...,1554114672164470787,2022-08-01 14:39:46+00:00,0,0,0,0,Toms
686,50706690,511NY,511 New York,4034,5852656,Traffic & transit updates for all of New York ...,New York State,Construction on #GardenStateParkway SB from So...,1554114210015191041,2022-08-01 14:37:56+00:00,0,0,0,0,Toms
687,1293734154,StevieJPTX,Cowboys Due Diligence,2999,72637,@TheRealSportDFW | ETX Broadcasting Radio Host...,"Paris, TX",People like Tom enable people like Watson in o...,1554084439646412802,2022-08-01 12:39:38+00:00,2,5,15,1,Toms
688,16381945,eton_rifles,Derek Ferreira,824,44690,"Single, no kids, Enjoy sports and video games....","Tiverton, Rhode Island","I'm at Toms Market in Tiverton, RI https://t.c...",1553917643807154179,2022-08-01 01:36:51+00:00,0,0,0,0,Toms

In [7]:
# Keds

keds_tweets = []
for response in tweepy.Paginator(client.search_all_tweets, 
                                 query = 'keds -is:retweet lang:en place_country:US',
                                 user_fields = ['id', 'username', 'name', 'public_metrics', 'description', 'location'],
                                 tweet_fields = ['id','created_at', 'public_metrics', 'text'],
                                 expansions = 'author_id',
                                 start_time = '2022-09-01T00:00:00Z',
                                 end_time = '2022-09-30T23:59:59Z',
                                 max_results=500, limit = 20):
    time.sleep(1)
    keds_tweets.append(response)

In [8]:
# Keds

keds_tweets = []
for response in tweepy.Paginator(client.search_all_tweets, 
                                 query = 'keds -is:retweet lang:en place_country:US',
                                 user_fields = ['id', 'username', 'name', 'public_metrics', 'description', 'location'],
                                 tweet_fields = ['id','created_at', 'geo', 'public_metrics', 'text'],
                                 expansions = 'author_id',
                                 start_time = '2022-08-01T00:00:00Z',
                                 end_time = '2022-09-30T23:59:59Z',
                                 max_results=500, limit = 20):
    time.sleep(1)
    keds_tweets.append(response)
    
result = []
user_dict = {}

for response in keds_tweets:

    for user in response.includes['users']:
        user_dict[user.id] = {'id': user.id,
                              'username': user.username, 
                              'name': user.name,
                              'followers': user.public_metrics['followers_count'],
                              'tweets': user.public_metrics['tweet_count'],
                              'description': user.description,
                              'location': user.location
                             }
    for tweet in response.data:

        author_info = user_dict[tweet.author_id]

        result.append({'author_id': tweet.author_id, 
                       'username': author_info['username'],
                       'author_name': author_info['name'],
                       'author_followers': author_info['followers'],
                       'author_tweets': author_info['tweets'],
                       'author_description': author_info['description'],
                       'author_location': author_info['location'],
                       'text': tweet.text,
                       'tweet_id': tweet.id,
                       'created_at': tweet.created_at,
                       'retweets': tweet.public_metrics['retweet_count'],
                       'replies': tweet.public_metrics['reply_count'],
                       'likes': tweet.public_metrics['like_count'],
                       'quote_count': tweet.public_metrics['quote_count']
                      })


df3 = pd.DataFrame(result)

df3['brand'] = 'Keds'
df3

,author_id,username,author_name,author_followers,author_tweets,author_description,author_location,text,tweet_id,created_at,retweets,replies,likes,quote_count,brand
0,29560488,CarrieMae_,Diary Entry #314509,345,12299,"the devil works hard, kris jenner works harder","Brooklyn, NY",Trying to have a peaceful evening and at the r...,1575989130130956288,2022-09-30 23:21:03+00:00,0,0,0,0,Keds
1,820770788991115266,JRaclawski,Jim Raclawski,117,10836,MUSTANG ci-guy-sometimes you can‚Äôt just‚Äùget al...,None,@Christinethequ2 @BigJoeBastardi EXACTLY‚Ä¶ no g...,1575344003037663232,2022-09-29 04:37:33+00:00,0,0,0,0,Keds
2,946917486380879872,preppyliberty,Whiskey In a Teacup,3866,9613,"SAHM, Libertarian Lite, Lover of books, bourbo...",The South,@HeatherIsUnsane They‚Äôre not terrible but if I...,1573844352950050818,2022-09-25 01:18:29+00:00,0,0,0,0,Keds
3,1027241907884314624,MCoachtoliver,Mrs.CoachToliver,391,2024,"Assistant Principal at Brenham High School, Co...",None,When the hubs surprises you with some fun Frid...,1573273255070294017,2022-09-23 11:29:08+00:00,0,0,13,0,Keds
4,21122791,vtbrittlj,Brittany J,250,16803,kick back and get high on the livin part of li...,"Richmond, VA",Side note: these girls in the bar with their c...,1572746032899051523,2022-09-22 00:34:09+00:00,0,3,7,0,Keds
5,820770788991115266,JRaclawski,Jim Raclawski,117,10836,MUSTANG ci-guy-sometimes you can‚Äôt just‚Äùget al...,None,@MaeNorth13 yea.. and the Keds canvas high top...,1571298921930199040,2022-09-18 00:43:50+00:00,0,0,1,0,Keds
6,1449223402590457859,AndreClaudio_1,Andre Claudio,110,622,Staff writer @sourcingjournal. Pop culture & f...,"New York, NY",@Keds Makes Its Luxury Debut With NYFW @ALTUZA...,1570132979313418240,2022-09-14 19:30:48+00:00,0,0,0,0,Keds
7,2279728812,KimberlynCarter,Kimberlyn the Cake,852,31174,#BeFearless #BrandDomination,"Atlanta, GA",@keds_economist Thank You!,1570079298232483841,2022-09-14 15:57:30+00:00,0,0,0,0,Keds
8,1239505812,Narfnampil,Francine Lipman,3956,35787,Tax/poverty law prof/LLM/MBA/CPA @UNLVLaw All ...,"Las Vegas, NV",@CCP_is_satan @keds_economist Actually it does...,1569986995501539328,2022-09-14 09:50:43+00:00,0,1,1,0,Keds
9,38347394,CallmeTinaja,Chaplain Tina Liouzis,1177,15750,Community Crisis Chaplain; First Responder; Me...,NYC,@a_resoundingmeh @Hoyden_Heidi @libsoftiktok S...,1569860611663609861,2022-09-14 01:28:31+00:00,0,0,0,0,Keds
10,183214800,footiusmaximus,FootiusMaximus,1506,32893,"Enjoys Phishing, long talks about the Grateful...",Fenario,@Super70sSports Better than pro keds üòÇ,1568624558504312833,2022-09-10 15:36:53+00:00,0,2,3,0,Keds
11,1081794314982883328,Chris_Boudrie,4th Line All Star,375,12195,Introverted Detroit sports fan. I run the fine...,"Warren, MI",@IffyTheDopester I had Keds in grade school lol,1568370396147384321,2022-09-09 22:46:56+00:00,0,0,0,0,Keds
12,1535385878335463430,MekitaMichelle,Mekita Jacqueline Michelle Coe,55,355,"Truth, Justice and The American way matter to ...",New York State,@BigKutta1 @NikkiHaley I once wore Keds until ...,1567855314526953474,2022-09-08 12:40:10+00:00,0,0,1,0,Keds
13,1264995750317965312,mom2max96_lisa,üåäüá∫üá≤Lisa Fishman,1829,48316,Native New Yorker üóΩProud Mom| Travel lover üíöüçÄ ...,"Los Angeles, CA",@LouakaGhost @AlTheBoss03 @Yankees I wear thes...,1567716380006547461,2022-09-08 03:28:06+00:00,0,0,0,0,Keds
14,739082620898775040,kellycsteacher,Kelly McNeil,270,466,Curriculum Program Manager | EdTech | Leadersh...,"Lakeland, FL",Lovely walk in @AudubonNature Audubon Park thi...,1567634574951211008,2022-09-07 22:03:02+00:00,0,0,4,0,Keds
15,105017546,fosterhood,Rebecca,4814,19803,"Adoptee turned foster, now adoptive parent (20...","New York, NY",@RCMAuthor That white shoe paint we kept wipin...,1566209371687862276,2022-09-03 23:39:47+00:00,0,0,3,0,Keds
16,873550650604494848,haitiprinceshit,ZOEbaby,11327,1002,6‚Äô4 & a real life ZOE üòàüîù tier IRLüíØ dis luh blu...,"Atlanta, GA","THAT BITCH POP OUT WIT A HELMET ON HER HEAD, B...",1565438947576135681,2022-09-01 20:38:24+00:00,0,0,0,0,Keds
17,587437673,mskvarla36,Michael Skvarla,2908,117544,"PhD in entomology, professor of insect ID. Co...","Port Matilda, PA",Grant proposal submitted! Hopefully it's funde...,1565432107349983234,2022-09-01 20:11:13+00:00,1,1,16,0,Keds
18,165595246,KSEAC,Ksea Cantonwine,39,704,"Lover of all things J Crew, Bryan Adams, and w...","Chehalis, WA",@katespadeny will you release a Fall/Winter li...,1562884183642763264,2022-08-25 19:26:41+00:00,0,0,0,0,Keds
19,165595246,KSEAC,Ksea Cantonwine,39,704,"Lover of all things J Crew, Bryan Adams, and w...","Chehalis, WA",@RiflePaperCo will there be a Fall/Winter 22 @...,1562883813214396420,2022-08-25 19:25:12+00:00,0,2,0,0,Keds
20,4855815293,GrammaGaz,Marion Gazdaküåä‚úåüá∫üá∏üÜòÔ∏è üíâüò∑üá∫üá¶,32389,80601,"Mom√ó2, Grandma√ó3, Retired, Road Tripper, Theat...","Buena Park, CA",@JewishResister @FrancisWegner I think they ar...,1561582091967467520,2022-08-22 05:12:38+00:00,0,1,3,0,Keds
21,370403181,ernunnos,Jason Steiner,327,19096,Semi-cultured redneck,"Phoenix, AZ",@DempMcgee In Keds and tube socks.\n\nhttps://...,1561099825109618688,2022-08-20 21:16:16+00:00,0,0,1,0,Keds
22,191091544,WheredJasonGo,Phil Incelmo,1024,64207,"Loud music, baked goods, and zines. Chris Corn...","Seattle, WA",@LucretianAnimus ‚ÄúWhy is this cool person fuck...,1560410221540827136,2022-08-18 23:36:02+00:00,0,0,3,0,Keds
23,39865883,_Ctina,Ceeee.tina,252,11747,"(king Chrisüë∏üèª) mom of L&V, asst. PE coach to a...",Texas girl,I had a runner today! The way I ran after this...,1560406821311057920,2022-08-18 23:22:31+00:00,0,0,1,0,Keds
24,1423605563028561925,floridaEdMom,Judi Hayes,2778,12443,public Ed advocate and prolific Letter to the ...,"Orlando, FL",AND THEN YOU HAVE A ROUND OF WHAT THEY CALL ‚ÄúI...,1560372587603058691,2022-08-18 21:06:29+00:00,0,0,2,0,Keds
25,40235502,damwop2,Listen to Nonna,1407,25290,"A beautiful mess ‚ôéÔ∏è wife, mom, Nonna, smart As...","Norfolk, VA",@Keds aren‚Äôt just for kids. https://t.co/KAgzN...,1560240621318803456,2022-08-18 12:22:06+00:00,0,0,1,0,Keds
26,1663892186,LoriCoxHan,Dr. Lori Cox Han,607,2467,Political scientist; presidency scholar; SF Gi...,"Orange, CA",@cconrymurray Keds. Lots of cute styles. I use...,1558880581483520001,2022-08-14 18:17:47+00:00,0,1,4,0,Keds
27,18773718,ZODIAC_MF,ZODIAC MOTHERFUCKER,22172,93363,"""ZODIACS RED FLAG CHALLENGES THE HEAVENS...""",OLD DETROIT,@ChaseFailey MAYBE FLASH BACK TO HIS CHILDHOOD...,1558455036396638210,2022-08-13 14:06:50+00:00,0,2,27,0,Keds
28,1239505812,Narfnampil,Francine Lipman,3956,35787,Tax/poverty law prof/LLM/MBA/CPA @UNLVLaw All ...,"Las Vegas, NV","@keds_economist @HilaryHoynes Yup, and they ar...",1558258575356706817,2022-08-13 01:06:10+00:00,0,0,3,0,Keds
29,412712711,LOSOLINA,LOSO,1884,58537,,None,"@edubskii lmaooooooooo I like ugly men too, bu...",1557926731016708096,2022-08-12 03:07:32+00:00,0,0,0,0,Keds
30,2366444442,21ForLifeHOF,21ForLifeHOF,700,9473,Husband | Father | Analyst | Mentor HOF Induct...,None,@EdwinFi94733275 @MikeTaylorShow @for_keds @bi...,1557904617996013568,2022-08-12 01:39:40+00:00,4,1,14,0,Keds
31,36903980,pooldoc1,pooldoc,693,12102,"Host... SNR monthly recap Show , Host Jungle p...","spring branch, texas",@rnrautoglass @MikeTaylorShow @for_keds @salar...,1557854455475085312,2022-08-11 22:20:20+00:00,1,0,3,0,Keds
32,412712711,LOSOLINA,LOSO,1884,58537,,None,@edubskii yea‚Ä¶.. lol Edan likes guys that wear...,1557775396690690049,2022-08-11 17:06:11+00:00,0,0,0,0,Keds
33,151935894,Joanntol,Jo Ann Tolbert,104,2988,Marshall Rams Football mom!! StMU Volleyball m...,"San Antonio, TX","@MikeTaylorShow ‚ÄúYou ‚Äòmember‚Äù, ‚ÄúIt‚Äôs for the K...",1557067934815686658,2022-08-09 18:14:59+00:00,0,0,3,0,Keds
34,1447268453463830528,JheyCintra,JCintra üåµ,12,435,ü§ç‚ú® üá∫üá∏üáßüá∑,"West Chester, PA",@gringaixx Keds ‚ô•Ô∏è,1557062478244315139,2022-08-09 17:53:18+00:00,0,0,0,0,Keds
35,1521869137462521856,Nanc733,Nancy M Massy,4,353,,None,"@nozkcb @JDCocchiarella DAM BUCKLE UP, I THINK...",1557020128608342016,2022-08-09 15:05:01+00:00,0,1,0,1,Keds
36,467372270,sammiethefoodie,Samantha,583,16784,Taco Enthusiast l Former NYer trying to find g...,"Davenport, FL",I need shoes for my Summer Nights Sandy costum...,1556350128117751809,2022-08-07 18:42:40+00:00,0,0,2,0,Keds
37,1160805510,The_LoganFoxx,HOOCHIE DADDY SZN ü©≤,387,12697,I just wanna grow my plants and refrigerate my...,Chromatica,Keds are at the concert safe &amp; sound. well...,1556087595628642310,2022-08-07 01:19:28+00:00,0,0,1,0,Keds
38,1160805510,The_LoganFoxx,HOOCHIE DADDY SZN ü©≤,387,12697,I just wanna grow my plants and refrigerate my...,Chromatica,dropping the keds off at @theweeknd concert. H...,1556072674820079618,2022-08-07 00:20:10+00:00,0,0,3,1,Keds
39,885391592,ShaynaJaskolka,Shayna Jaskolka | ◊©◊ô◊ô◊†◊î,1810,17048,Field Fanatic! Now: @Schneider4IL10 üìã Then: @f...,"Chicago, IL","@begyourgarden For sneakers, on the higher pri...",1554582899013234688,2022-08-02 21:40:20+00:00,0,1,1,0,Keds
40,2366444442,21ForLifeHOF,21ForLifeHOF,700,9473,Husband | Father | Analyst | Mentor HOF Induct...,None,@for_keds @MikeTaylorShow Any word on a date f...,1554106481980604427,2022-08-01 14:07:13+00:00,0,2,4,0,Keds

In [9]:
# Allbirds

ab_tweets = []
for response in tweepy.Paginator(client.search_all_tweets, 
                                 query = 'allbirds -is:retweet lang:en place_country:US',
                                 user_fields = ['id', 'username', 'name', 'public_metrics', 'description', 'location'],
                                 tweet_fields = ['id','created_at', 'public_metrics', 'text'],
                                 expansions = 'author_id',
                                 start_time = '2022-08-01T00:00:00Z',
                                 end_time = '2022-09-30T23:59:59Z',
                                 max_results=500, limit = 20):
    time.sleep(1)
    ab_tweets.append(response)
    
result = []
user_dict = {}

for response in ab_tweets:

    for user in response.includes['users']:
        user_dict[user.id] = {'id': user.id,
                              'username': user.username, 
                              'name': user.name,
                              'followers': user.public_metrics['followers_count'],
                              'tweets': user.public_metrics['tweet_count'],
                              'description': user.description,
                              'location': user.location
                             }
    for tweet in response.data:

        author_info = user_dict[tweet.author_id]

        result.append({'author_id': tweet.author_id, 
                       'username': author_info['username'],
                       'author_name': author_info['name'],
                       'author_followers': author_info['followers'],
                       'author_tweets': author_info['tweets'],
                       'author_description': author_info['description'],
                       'author_location': author_info['location'],
                       'text': tweet.text,
                       'tweet_id': tweet.id,
                       'created_at': tweet.created_at,
                       'retweets': tweet.public_metrics['retweet_count'],
                       'replies': tweet.public_metrics['reply_count'],
                       'likes': tweet.public_metrics['like_count'],
                       'quote_count': tweet.public_metrics['quote_count']
                      })


df4 = pd.DataFrame(result)

df4['brand'] = 'Allbirds'
df4

,author_id,username,author_name,author_followers,author_tweets,author_description,author_location,text,tweet_id,created_at,retweets,replies,likes,quote_count,brand
0,19733647,GroveAyers,Grove Ayers,1546,24935,"Grove. Amalgamist. @UOsojc alum, @Brkfldproprt...",en route Mostly: Seattle,@sprunty2000 @CharityMiles @NWParkinsons Allbi...,1575669405572206592,2022-09-30 02:10:35+00:00,0,0,1,0,Allbirds
1,175828541,BrentonPoke,Brenton Poke,583,49342,"CS grad student, science fiction fan. Voraciou...","Lansing, MI",@Allbirds is it possible to put these in the w...,1574812277013897219,2022-09-27 17:24:40+00:00,0,1,0,0,Allbirds
2,233022380,VeraMF11,Vera Marie,158,9501,Non-profit worker and cat mom. Former teacher ...,"Washington, DC","@Allbirds Allbirds team, I ordered a pair of s...",1574807528021565440,2022-09-27 17:05:47+00:00,0,1,0,0,Allbirds
3,18649433,lemichiiii,‚ìú‚ìò‚ì£‚ìí‚ìó,460,15266,sensitive bore she/her,"gainesville, fl",should i buy some allbirds shoes? dad @aliewar...,1574504542351376386,2022-09-26 21:01:50+00:00,0,1,1,0,Allbirds
4,2696296728,WilliamByrdUSA,William Byrd,1078,9677,"Car stuff @TheHooniverse, @OutMotorsports, @Ri...","Virginia, USA",@NavigationDeck Nah it was some @Allbirds shoes!,1574217870795575296,2022-09-26 02:02:42+00:00,0,0,1,0,Allbirds
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,34129632,DPT2Go,"üö¥üèª‚Äç‚ôÄÔ∏èüß†üéô Jess Schwartz DPT, CSCS üë©üèª‚Äç‚öïÔ∏èüóΩüéæ",4591,24269,üéì üéô Founder @ConcussionCornr ¬Æ Academy & Podca...,"New York, NY",@Lentini_PT Love my @Allbirds üëü üéâ,1556104891474526210,2022-08-07 02:28:11+00:00,0,0,0,0,Allbirds
73,2939996287,253Coble,Chris Coble,54,1290,"Father, husband, sneakerhead, etc.","Tacoma, WA",@sockjig @julycreps Shit looks like some Allbi...,1555622624675303424,2022-08-05 18:31:50+00:00,0,0,1,0,Allbirds
74,40507629,Bauzen,Bauzen üì∏ ‚è± ü§ï ü§ë üá∫üá∏ü§°üñï,1719,93344,Photographer ‚Ä¢ Rare Watch Collector ‚Ä¢ TBI surv...,"Upper West Side, Manhattan",@mcleandavissund @RBReich I never owned a pair...,1555544379267469314,2022-08-05 13:20:55+00:00,0,1,0,0,Allbirds
75,80341837,Inderoath,Inder,179,6845,Twitch Affiliate | YT Content Creator | Fitnes...,"Washington, DC",I wasn‚Äôt sure how I‚Äôd like these but damn they...,1555153065623392256,2022-08-04 11:25:58+00:00,0,0,0,0,Allbirds
76,14842636,Katadhin,John Andrews,30352,46001,"Mary Catherine's Dad & Mary Shannon's Husband,...","Raleigh, NC",I wonder if @Allbirds SWOT analysis includes ‚Äò...,1553901894749372417,2022-08-01 00:34:16+00:00,0,3,4,0,Allbirds

In [10]:
# Vans

vans_tweets = []
for response in tweepy.Paginator(client.search_all_tweets, 
                                 query = 'vans -is:retweet lang:en place_country:US',
                                 user_fields = ['id', 'username', 'name', 'public_metrics', 'description', 'location'],
                                 tweet_fields = ['id','created_at', 'public_metrics', 'text'],
                                 expansions = 'author_id',
                                 start_time = '2022-08-01T00:00:00Z',
                                 end_time = '2022-09-30T23:59:59Z',
                                 max_results=500, limit = 20):
    time.sleep(1)
    vans_tweets.append(response)
    
result = []
user_dict = {}

for response in vans_tweets:

    for user in response.includes['users']:
        user_dict[user.id] = {'id': user.id,
                              'username': user.username, 
                              'name': user.name,
                              'followers': user.public_metrics['followers_count'],
                              'tweets': user.public_metrics['tweet_count'],
                              'description': user.description,
                              'location': user.location
                             }
    for tweet in response.data:

        author_info = user_dict[tweet.author_id]

        result.append({'author_id': tweet.author_id, 
                       'username': author_info['username'],
                       'author_name': author_info['name'],
                       'author_followers': author_info['followers'],
                       'author_tweets': author_info['tweets'],
                       'author_description': author_info['description'],
                       'author_location': author_info['location'],
                       'text': tweet.text,
                       'tweet_id': tweet.id,
                       'created_at': tweet.created_at,
                       'retweets': tweet.public_metrics['retweet_count'],
                       'replies': tweet.public_metrics['reply_count'],
                       'likes': tweet.public_metrics['like_count'],
                       'quote_count': tweet.public_metrics['quote_count']
                      })


df5 = pd.DataFrame(result)

df5['brand'] = 'Vans'
df5

,author_id,username,author_name,author_followers,author_tweets,author_description,author_location,text,tweet_id,created_at,retweets,replies,likes,quote_count,brand
0,411690904,bbynate,Naterz,381,37507,Pet owner and lover ‚ôãÔ∏è‚ôêÔ∏è‚ôèÔ∏è,"Oxnard, CA",Do new vans cut up the back of everyone‚Äôs heel...,1575997968951361536,2022-09-30 23:56:11+00:00,0,1,0,0,Vans
1,320196121,PokeFanTrevor,Trevorman5 (Zardious),1122,65060,Handheld Legend Affiliate - https://t.co/iG5wN...,"Villa Rica, GA",Got some new Vans for cheap ü•∞ü•∞ü•∞ https://t.co/v...,1575995318046314497,2022-09-30 23:45:39+00:00,0,1,6,0,Vans
2,3238131566,HulenHannahh,lil ham,317,13089,24| mama | small business owner | NAU | Tattoo...,"Arizona, USA",Me: should i wear my vans in pictures?\nEm: do...,1575987424194240512,2022-09-30 23:14:17+00:00,0,2,2,0,Vans
3,3114994163,Holy_Coleyyyy,Cole Manny Blair,900,13678,üß†üß†üëçüèª‚úåÔ∏èüå±ü§©8! We need perfection including sereni...,"Clarendon, TX",üëçüèª‚úåÔ∏èüï∫üíÉ‚ôæ! Vans on! Glam' song! Dance strong! Pr...,1575986237646569472,2022-09-30 23:09:34+00:00,0,0,2,0,Vans
4,1487020128826904576,DopeStilo,Stiloü¶ã(ùöçùöòùöôùöé ùöúùöùùöíùöïùöò) ‚ÄúBONITA‚Äù OUT NOW!,2462,4801,Singerüé§ Surfer üåä Producerüîä Latinü¶ã @StiloMusicG...,"California, USA",@Ms_Gekko @PrizemArtNft @MyCreativeOwls @HICee...,1575970064779513856,2022-09-30 22:05:18+00:00,1,0,5,0,Vans
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1360,1082346759320453120,ChicagoSpotter,ChicagoCarSpotter,426,3709,"Interesting,strange,unexpected,exotic. I take ...",None,So many @VW vans around #Socal. \n\n#carspotte...,1553934970728488960,2022-08-01 02:45:42+00:00,0,1,9,0,Vans
1361,142895572,TJMattf,Tim Mattfield.,1058,93655,#BellasFella,"Minneapolis, MN",@allyallyallyaye Nice Vans,1553931159985221632,2022-08-01 02:30:33+00:00,0,0,0,0,Vans
1362,142895572,TJMattf,Tim Mattfield.,1058,93655,#BellasFella,"Minneapolis, MN",@texaschriss9 Nice Vans,1553926359524655104,2022-08-01 02:11:29+00:00,0,0,0,0,Vans
1363,1216908853612359680,Jason77706,Jasonü¶Å,8,2544,Av Geek,None,@LorenRuch @Hertz There are enough vans. Just...,1553924450281836544,2022-08-01 02:03:54+00:00,0,0,0,0,Vans
1364,181634813,buzyntexas,B Good,1269,58220,Everything Cowboys|üôèüèø Believer|Grilled cheese ...,"Somewhere making it happen, TX",It‚Äôs so common to see people sleepiness‚Äôs n th...,1553909419036909568,2022-08-01 01:04:10+00:00,0,0,0,0,Vans

In [11]:
# Skechers

skechers_tweets = []
for response in tweepy.Paginator(client.search_all_tweets, 
                                 query = 'skechers -is:retweet lang:en place_country:US',
                                 user_fields = ['id', 'username', 'name', 'public_metrics', 'description', 'location'],
                                 tweet_fields = ['id','created_at', 'public_metrics', 'text'],
                                 expansions = 'author_id',
                                 start_time = '2022-08-01T00:00:00Z',
                                 end_time = '2022-09-30T23:59:59Z',
                                 max_results=500, limit = 20):
    time.sleep(1)
    skechers_tweets.append(response)
    
result = []
user_dict = {}

for response in skechers_tweets:

    for user in response.includes['users']:
        user_dict[user.id] = {'id': user.id,
                              'username': user.username, 
                              'name': user.name,
                              'followers': user.public_metrics['followers_count'],
                              'tweets': user.public_metrics['tweet_count'],
                              'description': user.description,
                              'location': user.location
                             }
    for tweet in response.data:

        author_info = user_dict[tweet.author_id]

        result.append({'author_id': tweet.author_id, 
                       'username': author_info['username'],
                       'author_name': author_info['name'],
                       'author_followers': author_info['followers'],
                       'author_tweets': author_info['tweets'],
                       'author_description': author_info['description'],
                       'author_location': author_info['location'],
                       'text': tweet.text,
                       'tweet_id': tweet.id,
                       'created_at': tweet.created_at,
                       'retweets': tweet.public_metrics['retweet_count'],
                       'replies': tweet.public_metrics['reply_count'],
                       'likes': tweet.public_metrics['like_count'],
                       'quote_count': tweet.public_metrics['quote_count']
                      })


df6 = pd.DataFrame(result)

df6['brand'] = 'Skechers'
df6

,author_id,username,author_name,author_followers,author_tweets,author_description,author_location,text,tweet_id,created_at,retweets,replies,likes,quote_count,brand
0,2320034306,_krownjules,American Bison üç•,421,26537,underrated is an understatement,"Jersey City, New YERRsey",@jessy06961052 whichever one don‚Äôt got Skecher...,1575892258318163968,2022-09-30 16:56:07+00:00,0,0,0,0,Skechers
1,1249362884,_cdotT4,¬©Ô∏èT4Ô∏è‚É£,426,6268,üìçNJ // IG: _c.t4 üì∏ \\ Cheyney U AMG,None,@Ty__215 @brittanyrennerr Skechers on here is ...,1574815546301874179,2022-09-27 17:37:39+00:00,0,1,1,0,Skechers
2,1515776966208675850,Apizzle1800,Austin Prunty,12,390,#LLKP #4Evachukii 18üí´üí´ ATHLETE üèÄ 5‚Äô9 c/o 2018,None,Shorty doooo not careee her ass got on Skecher...,1574549359655587840,2022-09-26 23:59:55+00:00,0,0,0,0,Skechers
3,1103385955661201408,run_marc_run,marcsmith,581,8291,"Baseball, Beers, Bills.","Lancaster, NY",@RockpileReport @Alf_Arteaga Fire all those Sk...,1574442817803386880,2022-09-26 16:56:34+00:00,1,0,2,0,Skechers
4,1145466823422308353,eari_m,THE ‚ìÇÔ∏èUFFLE¬ÆÔ∏è üÖ±Ô∏èEüÖ∞Ô∏è¬ÆÔ∏è‚ÑπÔ∏èüÜñÔ∏è (pat.pending)‚Ñ¢Ô∏è,724,76632,I'm that elusive auto part that ur buddies tol...,Sears Automotive U.S.A.,@omgitsbae10 @Crocs @WillDeas3 @lesmiller64 i ...,1573787603714772992,2022-09-24 21:32:58+00:00,0,1,3,0,Skechers
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,1534382304713318400,ghouqueue,gh as in laugh or rough,117,1422,"For the people, not the oppressors. 42, Cis Ma...","San Jose, CA","I‚Äôm a grotesquely overweight, middle aged man ...",1556034149944680448,2022-08-06 21:47:05+00:00,0,1,1,0,Skechers
59,1554492930638745602,8102sdca,observationsdca,0,198,It ends when it begins.,None,Bought 2 pairs of Skechers shoes. Buy one get ...,1555349371650093058,2022-08-05 00:26:01+00:00,0,0,0,0,Skechers
60,1251510910390337536,_RadicalReality,R,2362,183184,@KittyKatKeee @Rebeccahansonn @porcelain_yin @...,FOLLOWED BY BASED MEGANüòç,Great to visit Skechers this morning. https://...,1554491959649177600,2022-08-02 15:38:58+00:00,0,0,0,0,Skechers
61,288570387,juliescloe,Julie Cloe,388,8369,I‚Äôd rather be in the mountains.,WPS,My husband is not allowed to wear Skechers gol...,1554263433616441344,2022-08-02 00:30:54+00:00,0,0,3,0,Skechers
62,17849182,cgperry,cgperry,134,2628,,NYC,@Skechers why have people take 20 mins to sign...,1554174897995276289,2022-08-01 18:39:05+00:00,0,0,0,0,Skechers

In [12]:
# Converse

converse_tweets = []
for response in tweepy.Paginator(client.search_all_tweets, 
                                 query = 'converse -is:retweet lang:en place_country:US',
                                 user_fields = ['id', 'username', 'name', 'public_metrics', 'description', 'location'],
                                 tweet_fields = ['id','created_at', 'public_metrics', 'text'],
                                 expansions = 'author_id',
                                 start_time = '2022-08-01T00:00:00Z',
                                 end_time = '2022-09-30T23:59:59Z',
                                 max_results=500, limit = 20):
    time.sleep(1)
    converse_tweets.append(response)
    
result = []
user_dict = {}

for response in converse_tweets:

    for user in response.includes['users']:
        user_dict[user.id] = {'id': user.id,
                              'username': user.username, 
                              'name': user.name,
                              'followers': user.public_metrics['followers_count'],
                              'tweets': user.public_metrics['tweet_count'],
                              'description': user.description,
                              'location': user.location
                             }
    for tweet in response.data:

        author_info = user_dict[tweet.author_id]

        result.append({'author_id': tweet.author_id, 
                       'username': author_info['username'],
                       'author_name': author_info['name'],
                       'author_followers': author_info['followers'],
                       'author_tweets': author_info['tweets'],
                       'author_description': author_info['description'],
                       'author_location': author_info['location'],
                       'text': tweet.text,
                       'tweet_id': tweet.id,
                       'created_at': tweet.created_at,
                       'retweets': tweet.public_metrics['retweet_count'],
                       'replies': tweet.public_metrics['reply_count'],
                       'likes': tweet.public_metrics['like_count'],
                       'quote_count': tweet.public_metrics['quote_count']
                      })


df7 = pd.DataFrame(result)

df7['brand'] = 'Converse'
df7

,author_id,username,author_name,author_followers,author_tweets,author_description,author_location,text,tweet_id,created_at,retweets,replies,likes,quote_count,brand
0,16274684,AuburnTgrMOates,Mark Oates,644,18807,He/Him. Who am I? No. Who are YOU? What are yo...,"Columbus, Georgia",@_brooklynsummer @RobertLeveyII @jahsim346 @Co...,1575956304904212481,2022-09-30 21:10:37+00:00,0,0,1,0,Converse
1,298020473,REMAXnorthSA,RE/MAX North - SA,593,8419,,"8131 W Hausman, San Antonio TX",See a virtual tour of one of our newest #listi...,1575954692143726609,2022-09-30 21:04:13+00:00,0,0,0,0,Converse
2,1134851982,meetDTrav,Fish Dang #Justice4Jayland,1155,15046,Booking agent and promotion member of B.O.M Bo...,"Columbus, Ohio",@emann28210 @shaqwitnobricks @JAYALNOCAP Good ...,1575928402758238209,2022-09-30 19:19:45+00:00,0,2,0,0,Converse
3,1043028697698066433,JamieDBauchery,Jamie D. Bauchery,132,2006,The Satanic Bimbo E-Girl Of Your Nightmares.\n...,"San Francisco, CA","Like girl, for real. The pressure that drag sh...",1575899939091075072,2022-09-30 17:26:38+00:00,0,0,1,0,Converse
4,1326977571481903106,therealdmonti,therealdmonti,26,633,Dave Montanaro (Monti) |üëâ Dedicated to Self Im...,None,LET'S GET IT ON!! üí™üòÅ #fridayvibes #fridayfeeli...,1575893352792600576,2022-09-30 17:00:28+00:00,0,0,1,0,Converse
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
935,539142424,NorthBeachDude,MassHole,6,309,,"Massachusetts, USA",Think about this sports fans when talking abou...,1554128089185222657,2022-08-01 15:33:05+00:00,0,0,0,0,Converse
936,36427341,__KJF55,IG: __kjf55,921,45651,Detroit...,Detroit,Chillin' out on this patio... I'm just glad I ...,1553989739845402625,2022-08-01 06:23:20+00:00,0,0,0,0,Converse
937,124081985,MiissBehave,uzi‚Äôs shrimp taco,379,27600,,"Manhattan, NY","Once the mind is made up, there‚Äôs no need to f...",1553946394628595712,2022-08-01 03:31:06+00:00,0,0,1,0,Converse
938,928741691510620160,jawilaa,jah,40,592,coach pussy slayer,"North Carolina, USA",@jiawnah me with my converse,1553927982921777152,2022-08-01 02:17:56+00:00,0,0,0,0,Converse
939,22685659,kariroxx,kari,7605,36870,"üìç Long Beach, CA #Lakers #Dodgers #RamsHouse #...",None,Converse weren‚Äôt just made for playing basketb...,1553915474299080704,2022-08-01 01:28:14+00:00,2,15,201,1,Converse

In [13]:
# Reebok
reebok_tweets = []
for response in tweepy.Paginator(client.search_all_tweets, 
                                 query = 'reebok -is:retweet lang:en place_country:US',
                                 user_fields = ['id', 'username', 'name', 'public_metrics', 'description', 'location'],
                                 tweet_fields = ['id','created_at', 'public_metrics', 'text'],
                                 expansions = 'author_id',
                                 start_time = '2022-08-01T00:00:00Z',
                                 end_time = '2022-09-30T23:59:59Z',
                                 max_results=500, limit = 20):
    time.sleep(1)
    reebok_tweets.append(response)
    
result = []
user_dict = {}

for response in reebok_tweets:

    for user in response.includes['users']:
        user_dict[user.id] = {'id': user.id,
                              'username': user.username, 
                              'name': user.name,
                              'followers': user.public_metrics['followers_count'],
                              'tweets': user.public_metrics['tweet_count'],
                              'description': user.description,
                              'location': user.location
                             }
    for tweet in response.data:

        author_info = user_dict[tweet.author_id]

        result.append({'author_id': tweet.author_id, 
                       'username': author_info['username'],
                       'author_name': author_info['name'],
                       'author_followers': author_info['followers'],
                       'author_tweets': author_info['tweets'],
                       'author_description': author_info['description'],
                       'author_location': author_info['location'],
                       'text': tweet.text,
                       'tweet_id': tweet.id,
                       'created_at': tweet.created_at,
                       'retweets': tweet.public_metrics['retweet_count'],
                       'replies': tweet.public_metrics['reply_count'],
                       'likes': tweet.public_metrics['like_count'],
                       'quote_count': tweet.public_metrics['quote_count']
                      })


df8 = pd.DataFrame(result)

df8['brand'] = 'Reebok'
df8

,author_id,username,author_name,author_followers,author_tweets,author_description,author_location,text,tweet_id,created_at,retweets,replies,likes,quote_count,brand
0,21984092,cristinavanko,Cristina Vanko üíò,5756,35711,building @datewitharrow audio dating üèπ acd art...,"New York, NY",@jemgold_ ariats are comfy and cute (reebok so...,1575911246846918656,2022-09-30 18:11:34+00:00,0,2,1,0,Reebok
1,1574967030331199497,DiannaJ71861947,Dianna Johnson,7,39,Black YouTuber using my real name this year my...,United States,@iamcardib @Reebok Please do a color in lime.,1575901470138175488,2022-09-30 17:32:43+00:00,0,0,0,0,Reebok
2,797161473382502400,scrmblnscholar,Lukavelli The Don,341,26861,My life is a play. Addicted to hoops. Sneakerh...,None,@TheDoddJD Reebok ones don't count lol,1575882929011535872,2022-09-30 16:19:03+00:00,0,0,0,0,Reebok
3,797161473382502400,scrmblnscholar,Lukavelli The Don,341,26861,My life is a play. Addicted to hoops. Sneakerh...,None,The Reebok game worn authentics from the final...,1575878364467847168,2022-09-30 16:00:55+00:00,3,2,22,0,Reebok
4,576574220,BurtonGuster216,Heem U üá≥üá¨,1386,23403,Just ask me to elaborate my thoughts. Please. ...,"Chicago, IL",Hot take‚Ä¶. People sleep on Reebok products. Qu...,1575693115264241664,2022-09-30 03:44:48+00:00,0,2,2,0,Reebok
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,775916651187351553,The_Han_Br0lo,Shampoo Papi üêù,163,10179,I‚Äôm Rene. I throw baseballs and occasionally h...,"Phoenix, AZ","Armpit musty, Reebok crusty https://t.co/KjJ3z...",1554560798109814784,2022-08-02 20:12:31+00:00,0,0,1,1,Reebok
238,2918955818,marcelobalboa17,Marcelo Balboa,11324,3966,Official Twitter of Marcelo Balboa USMNT Membe...,None,@DoubleOhNegatve I believe that was the Reebok...,1554329336185905152,2022-08-02 04:52:46+00:00,0,1,1,0,Reebok
239,19039664,linnynicks,lindsay nickels,299,11485,bring the data,phila,If you ever find yourself talking shit on will...,1554266657815756800,2022-08-02 00:43:42+00:00,0,0,2,0,Reebok
240,105267482,ItzMrBlunt2Yall,Blunt View.,15145,199457,I‚Äôm going to talk a lot of shit you‚Äôre not goi...,"San Diego, California","Think the 4,5 shoes gon be Reebok, Doc‚Äôs and s...",1554169861172932608,2022-08-01 18:19:04+00:00,0,0,0,0,Reebok
241,37935188,say_blk,Christian Pope | üá≥üá¨,4085,177277,,"Houston, TX",üî• It is back to school shopping time and what ...,1554097142884614145,2022-08-01 13:30:07+00:00,7,1,12,1,Reebok

In [14]:
# Under Armour

ua_tweets = []
for response in tweepy.Paginator(client.search_all_tweets, 
                                 query = 'under armour -is:retweet lang:en place_country:US',
                                 user_fields = ['id', 'username', 'name', 'public_metrics', 'description', 'location'],
                                 tweet_fields = ['id','created_at', 'public_metrics', 'text'],
                                 expansions = 'author_id',
                                 start_time = '2022-08-01T00:00:00Z',
                                 end_time = '2022-09-30T23:59:59Z',
                                 max_results=500, limit = 20):
    time.sleep(1)
    ua_tweets.append(response)
    
result = []
user_dict = {}

for response in ua_tweets:

    for user in response.includes['users']:
        user_dict[user.id] = {'id': user.id,
                              'username': user.username, 
                              'name': user.name,
                              'followers': user.public_metrics['followers_count'],
                              'tweets': user.public_metrics['tweet_count'],
                              'description': user.description,
                              'location': user.location
                             }
    for tweet in response.data:

        author_info = user_dict[tweet.author_id]

        result.append({'author_id': tweet.author_id, 
                       'username': author_info['username'],
                       'author_name': author_info['name'],
                       'author_followers': author_info['followers'],
                       'author_tweets': author_info['tweets'],
                       'author_description': author_info['description'],
                       'author_location': author_info['location'],
                       'text': tweet.text,
                       'tweet_id': tweet.id,
                       'created_at': tweet.created_at,
                       'retweets': tweet.public_metrics['retweet_count'],
                       'replies': tweet.public_metrics['reply_count'],
                       'likes': tweet.public_metrics['like_count'],
                       'quote_count': tweet.public_metrics['quote_count']
                      })


df9 = pd.DataFrame(result)

df9['brand'] = 'Under Armour'
df9

,author_id,username,author_name,author_followers,author_tweets,author_description,author_location,text,tweet_id,created_at,retweets,replies,likes,quote_count,brand
0,41874604,ChicagoMT22,Mark NOYB,103,6123,"Family man, father, consultant, and part time ...","Chicago, IL",@Joeingram1 She wasn't even wearing her Under ...,1575692403276926978,2022-09-30 03:41:58+00:00,0,0,2,0,Under Armour
1,26148614,danielfheck,Daniel Heck,2773,19432,"Assistant AD of Marketing, @AuburnTigers | @it...","Auburn, AL",Evan McPherson ü§ù AU Team Shop \n\nReminder t...,1575687464852672513,2022-09-30 03:22:21+00:00,0,0,4,0,Under Armour
2,1023258741741940736,AaronMoldenhau1,Aaron Moldenhauer,79,1504,https://t.co/M15XbVItVn,Iron ridge wi,Check out Wisconsin Badgers Under Armour Women...,1575549978109366272,2022-09-29 18:16:01+00:00,0,0,0,0,Under Armour
3,1407725815345917952,StarsNash_MBB,STARS Basketball Club HS MBB,1353,1778,STARS Basketball Club powered by Under Armour....,"Nashville, TN",It was another great week at the STARS High Sc...,1575530157820940288,2022-09-29 16:57:16+00:00,2,0,9,0,Under Armour
4,2993474279,Bengalsmanic,Meg Brrrr,2635,14559,"#Deaf DIE-HARD Bengals fan | Lakers, Angels, D...",None,Gotta get me the white under armour cold gear!...,1575253320377196544,2022-09-28 22:37:13+00:00,0,0,13,0,Under Armour
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,1873452596,a_luevano,Adrian Luevano 23ABC,965,16477,Sports Director @23ABCNews - @Fresno_State Alum,"Bakersfield, CA",It‚Äôs official: CSU Bakersfield and Under Armou...,1554534360941924352,2022-08-02 18:27:28+00:00,5,0,27,1,Under Armour
166,1474403171082674221,saharaw_2025,Sahara Wilson 2025,532,103,4.3 GPA | Slapper/Power Hitter | CF | H2F 2.56...,"Wake Forest, NC",STARZ MADE SOME NOISE TODAY! Got the opportuni...,1554287466315595776,2022-08-02 02:06:23+00:00,3,3,50,2,Under Armour
167,146716348,okinfortworth,Jim in Arlington-USO rep for Stutsman Army,3378,38873,God bless the Selmons! Love üá∫üá∏ üé£ BASS LIFE mem...,Arlington TX,@AndrewNemec @DJ2g23 ‚ÄúHicks has a lot of time ...,1554272870989185025,2022-08-02 01:08:24+00:00,0,0,2,0,Under Armour
168,1145893268439236608,WaybrightAdam,Adam WWWaybright,556,4518,,Worldwide,CSU Bakersfield Athletics will announce a new ...,1554238718269001728,2022-08-01 22:52:41+00:00,2,2,7,0,Under Armour
169,1233540039524716545,Diesel_Crush,‚öú40 Water Diesel‚öú,657,58274,"Army Vet, Whiskey drinking, soul food eating, ...","New Orleans, LA","Nike, Under Armour, Samsung https://t.co/EePpY...",1554183177199128576,2022-08-01 19:11:59+00:00,0,0,0,0,Under Armour

In [15]:
# New Balance

nb_tweets = []
for response in tweepy.Paginator(client.search_all_tweets, 
                                 query = 'new balance -is:retweet lang:en place_country:US',
                                 user_fields = ['id', 'username', 'name', 'public_metrics', 'description', 'location'],
                                 tweet_fields = ['id','created_at', 'public_metrics', 'text'],
                                 expansions = 'author_id',
                                 start_time = '2022-08-01T00:00:00Z',
                                 end_time = '2022-09-30T23:59:59Z',
                                 max_results=500, limit = 20):
    time.sleep(1)
    nb_tweets.append(response)
    
result = []
user_dict = {}

for response in nb_tweets:

    for user in response.includes['users']:
        user_dict[user.id] = {'id': user.id,
                              'username': user.username, 
                              'name': user.name,
                              'followers': user.public_metrics['followers_count'],
                              'tweets': user.public_metrics['tweet_count'],
                              'description': user.description,
                              'location': user.location
                             }
    for tweet in response.data:

        author_info = user_dict[tweet.author_id]

        result.append({'author_id': tweet.author_id, 
                       'username': author_info['username'],
                       'author_name': author_info['name'],
                       'author_followers': author_info['followers'],
                       'author_tweets': author_info['tweets'],
                       'author_description': author_info['description'],
                       'author_location': author_info['location'],
                       'text': tweet.text,
                       'tweet_id': tweet.id,
                       'created_at': tweet.created_at,
                       'retweets': tweet.public_metrics['retweet_count'],
                       'replies': tweet.public_metrics['reply_count'],
                       'likes': tweet.public_metrics['like_count'],
                       'quote_count': tweet.public_metrics['quote_count']
                      })


df10 = pd.DataFrame(result)

df10['brand'] = 'New Balance'
df10

,author_id,username,author_name,author_followers,author_tweets,author_description,author_location,text,tweet_id,created_at,retweets,replies,likes,quote_count,brand
0,2939996287,253Coble,Chris Coble,54,1290,"Father, husband, sneakerhead, etc.","Tacoma, WA",@sockjig Really hope it isn‚Äôt the end he‚Äôs suc...,1575944797537247232,2022-09-30 20:24:54+00:00,0,1,1,0,New Balance
1,48419856,stuartpalley,Stuart Palley,22701,52244,"Photographer, writer, maker | Into The Inferno...",Acjachemen Land,And no New Balance 501s are NOT an option,1575941165785829376,2022-09-30 20:10:28+00:00,0,1,6,0,New Balance
2,1357847875477241857,kevin_ny_9,Kevin NYC,96,132,Based in New York,"Queens, NY",Kith for New Balance \nFall2 2022 https://t.co...,1575927320183177216,2022-09-30 19:15:27+00:00,0,0,45,0,New Balance
3,77118134,batesbn,Brooke (Bates) Bilyj,2026,4156,#Author #FreelanceWriter #Journalist in #Cleve...,Cleveland,Excited to hear @kkellyhancock @MAGNETOhio @Ne...,1575883116350251010,2022-09-30 16:19:48+00:00,2,0,2,0,New Balance
4,112921508,ChaseStackwells,OG Chase Stacks / Ros√© Chase,867,75496,"Sneaker Connoisseur, Big Steppa, Cultured Indi...","Houston, TX",I'm going to have 5 pairs of New Balance in my...,1575875203930148864,2022-09-30 15:48:21+00:00,0,0,0,0,New Balance
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
652,39148101,EmilyFurda,Emily Furda,581,35643,"Blogger, writer, editor. Jesus follower. Pengu...","Johnstown, Pa",@Local12Kathryn 2 new pairs of New Balance for...,1554050611393560576,2022-08-01 10:25:13+00:00,0,0,0,0,New Balance
653,1909661978,RaymondGill_,Raymond Gill,716,18688,,"Fort Worth, Texas",First day of a new month. Always be bold and l...,1554049123170635779,2022-08-01 10:19:18+00:00,0,0,2,0,New Balance
654,261714969,Saenthegod,üå™,724,51205,half hurricane half volcano,None,‚ÄúNew balance sneakerssssss ‚Äú haha I got the va...,1554034156828598273,2022-08-01 09:19:50+00:00,0,0,0,0,New Balance
655,249988680,_surfresh,John,2577,153630,Photographer üì∏,"Dallas, TX",I‚Äôve enjoyed all the new music that‚Äôs dropped ...,1553929085151330315,2022-08-01 02:22:19+00:00,1,2,1,0,New Balance
656,41593115,iamscottenglish,Scott English,3188,8194,Political has been turned philatelist. Interna...,"Bellefonte, PA",@DigiPhilatelist @CollectsStamps @virtuafil Th...,1553919348418519040,2022-08-01 01:43:37+00:00,0,1,3,0,New Balance

In [16]:
# Adidas

adidas_tweets = []
for response in tweepy.Paginator(client.search_all_tweets, 
                                 query = 'adidas -is:retweet lang:en place_country:US',
                                 user_fields = ['id', 'username', 'name', 'public_metrics', 'description', 'location'],
                                 tweet_fields = ['id','created_at', 'public_metrics', 'text'],
                                 expansions = 'author_id',
                                 start_time = '2022-08-01T00:00:00Z',
                                 end_time = '2022-09-30T23:59:59Z',
                                 max_results=500, limit = 20):
    time.sleep(1)
    adidas_tweets.append(response)
    
result = []
user_dict = {}

for response in adidas_tweets:

    for user in response.includes['users']:
        user_dict[user.id] = {'id': user.id,
                              'username': user.username, 
                              'name': user.name,
                              'followers': user.public_metrics['followers_count'],
                              'tweets': user.public_metrics['tweet_count'],
                              'description': user.description,
                              'location': user.location
                             }
    for tweet in response.data:

        author_info = user_dict[tweet.author_id]

        result.append({'author_id': tweet.author_id, 
                       'username': author_info['username'],
                       'author_name': author_info['name'],
                       'author_followers': author_info['followers'],
                       'author_tweets': author_info['tweets'],
                       'author_description': author_info['description'],
                       'author_location': author_info['location'],
                       'text': tweet.text,
                       'tweet_id': tweet.id,
                       'created_at': tweet.created_at,
                       'retweets': tweet.public_metrics['retweet_count'],
                       'replies': tweet.public_metrics['reply_count'],
                       'likes': tweet.public_metrics['like_count'],
                       'quote_count': tweet.public_metrics['quote_count']
                      })


df11 = pd.DataFrame(result)

df11['brand'] = 'Adidas'
df11

,author_id,username,author_name,author_followers,author_tweets,author_description,author_location,text,tweet_id,created_at,retweets,replies,likes,quote_count,brand
0,85966951,deftones4u,zack,78,321,,None,@SouthPark @adidas I need a replacement pair! ...,1575991198271279104,2022-09-30 23:29:16+00:00,0,0,0,0,Adidas
1,1247183624425930753,TeamLexHoops,Team Lex Basketball,924,122,Select girls' basketball club named after WNBA...,"Texas, USA",Team Lex Nation would like to congratulate McK...,1575985673340825600,2022-09-30 23:07:19+00:00,10,1,83,3,Adidas
2,71125241,VillageSoccer,Village Soccer Shop,357,1734,A Soccer & Lifestyle Joint.,"Tarrytown, New York",Pure üá∫üá∏ Beauty.\n#vssvintage\n#ussoccer\n#adid...,1575971435977347072,2022-09-30 22:10:45+00:00,0,0,0,0,Adidas
3,788291030,abdulla_12_92,Abdulla,779,10827,"#Football, #Basketball and #Baseball Guy üèàüèÄ‚öæÔ∏è....","New York, NY",Need these üî•. @adidas @PatrickMahomes #adidas ...,1575951289342603265,2022-09-30 20:50:41+00:00,0,0,0,0,Adidas
4,1178740207375519744,ManriqueTj,TJ Manrique - OCLS Authors event here I come!,10213,29677,"I write SciFi, horror & other books. My debut ...",None,@thanightskyy03 Yes they are. There's a place ...,1575942617354752000,2022-09-30 20:16:14+00:00,0,0,0,0,Adidas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2330,1535065371874566151,goodhairgardner,Good Hair Gardner,19,50,#MaskUp #VaxUp #BIDEN24,Everywhere,As an unbiased youth sports fan. I am once aga...,1553916530387296256,2022-08-01 01:32:25+00:00,0,2,1,0,Adidas
2331,1504474595650273283,7795Specter,Max7793959819,0,314,,None,"I like Adidas, nice company.",1553910686664753152,2022-08-01 01:09:12+00:00,0,0,0,0,Adidas
2332,461627703,macburgz,malik burgers,3676,66338,outside trynna endure,"Lemon Grove, CA",Just never buy adidas shoes anymore,1553908450081419269,2022-08-01 01:00:19+00:00,0,0,0,0,Adidas
2333,461627703,macburgz,malik burgers,3676,66338,outside trynna endure,"Lemon Grove, CA",Sometimes I wanna wear my adidas sweatpants wi...,1553908358972731392,2022-08-01 00:59:57+00:00,0,1,4,0,Adidas
2334,948340326737072128,Walk_Off_Sports,Walk-Off Sports,5961,7856,‚Ä¢Perfect Game USA Affiliate Partner ‚Ä¢Future HQ...,"Texas, USA",Adidas Titans-John Ramsey launches a double to...,1553895802984189952,2022-08-01 00:10:04+00:00,3,1,9,1,Adidas

In [17]:
# Nike

nike_tweets = []
for response in tweepy.Paginator(client.search_all_tweets, 
                                 query = 'nike -is:retweet lang:en place_country:US',
                                 user_fields = ['id', 'username', 'name', 'public_metrics', 'description', 'location'],
                                 tweet_fields = ['id','created_at', 'public_metrics', 'text'],
                                 expansions = 'author_id',
                                 start_time = '2022-08-01T00:00:00Z',
                                 end_time = '2022-09-30T23:59:59Z',
                                 max_results=500, limit = 20):
    time.sleep(1)
    nike_tweets.append(response)
    
result = []
user_dict = {}

for response in nike_tweets:

    for user in response.includes['users']:
        user_dict[user.id] = {'id': user.id,
                              'username': user.username, 
                              'name': user.name,
                              'followers': user.public_metrics['followers_count'],
                              'tweets': user.public_metrics['tweet_count'],
                              'description': user.description,
                              'location': user.location
                             }
    for tweet in response.data:

        author_info = user_dict[tweet.author_id]

        result.append({'author_id': tweet.author_id, 
                       'username': author_info['username'],
                       'author_name': author_info['name'],
                       'author_followers': author_info['followers'],
                       'author_tweets': author_info['tweets'],
                       'author_description': author_info['description'],
                       'author_location': author_info['location'],
                       'text': tweet.text,
                       'tweet_id': tweet.id,
                       'created_at': tweet.created_at,
                       'retweets': tweet.public_metrics['retweet_count'],
                       'replies': tweet.public_metrics['reply_count'],
                       'likes': tweet.public_metrics['like_count'],
                       'quote_count': tweet.public_metrics['quote_count']
                      })


df12 = pd.DataFrame(result)

df12['brand'] = 'Nike'
df12

,author_id,username,author_name,author_followers,author_tweets,author_description,author_location,text,tweet_id,created_at,retweets,replies,likes,quote_count,brand
0,87144412,GarrettKGray,Garrett Gray,386,12079,Land Economist & Economic Development Speciali...,"Coos Bay, OR",@ShaneDaleAZ Totally. The Nike uniforms since ...,1575995654048190464,2022-09-30 23:46:59+00:00,0,0,0,0,Nike
1,492330913,LockDown_Lopes,Daemon Targaryen Stan Account,477,98363,"@nicekicks, sports, & memes | University of Ar...","Scottsdale, AZ",Hats off to Tom Sachs and the marketing team a...,1575994840923316225,2022-09-30 23:43:45+00:00,0,0,0,0,Nike
2,37706001,RyanGensler,Ryan Gensler,6716,13676,315 Born and Raised: Assistant Basketball Coac...,"Champaign, IL",The look on @makiracook face! üòÇ \n\nThanks @Ni...,1575993459470897157,2022-09-30 23:38:15+00:00,1,1,27,0,Nike
3,17417435,ShellzBoss,"L is for Lauryn, Latifah, Lyte",564,22118,"#TeamLibra #TeamLesbian Hibernating, should be...","Maryland, North Carolina",Check out my new pickup from Nike‚Å† SNKRS: http...,1575992756908199944,2022-09-30 23:35:28+00:00,0,1,0,0,Nike
4,853714067692806144,DJKingJam,Michael James,472,4779,Jordan & Nike Shoe collector || DJ Jamez || Mu...,"Seattle, WA",@jameslfreelance @Jumpman23 @Nike @nikestore O...,1575987847370543105,2022-09-30 23:15:57+00:00,0,0,2,0,Nike
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7850,40580353,JBlock49,justin block,4240,144197,total football surrogate // team site coverage...,"Portland, OR",i wonder how many sports bras chloe kelly sold...,1553903910321942528,2022-08-01 00:42:17+00:00,2,0,4,0,Nike
7851,1515614465097568258,babydevoh,Fredo Sauce,16,237,the angry Aries ‚ôàÔ∏è,None,Hiked the nike hill todayüèÉ‚Äç‚ôÇÔ∏è‚úÖ,1553898027110191105,2022-08-01 00:18:54+00:00,0,0,0,0,Nike
7852,1307302810019491841,ifquinnhadagram,Jefe de jefes,421,17470,‚ù§Ô∏è üë∂üèºQuinn.Oregon‚Äô04 via LA.‚ù§Ô∏è=üîã&üîãis everythin...,"Los Angeles, CA",@WTDduckss @Nike Yes yes and yes,1553894576896651264,2022-08-01 00:05:11+00:00,0,0,0,0,Nike
7853,1692907934,imwawit,Wawit,16,2992,It's not easy to be me. I wasn't a good boy at...,"NY, NY",@GracezyUchi @Nike Thanks Bunso ‚ù§Ô∏è,1553894084519100422,2022-08-01 00:03:14+00:00,0,0,0,0,Nike
7854,23896893,MissSneed,D. ‚ù§Ô∏è‚Äçüî•,4099,304072,"milfin‚Äô, hangin‚Äô. ü§åüèΩ don‚Äôt take me seriously ü§ç...","Dallas, TX üìç",@StewardessChick me either üò≠üò≠ i just remember ...,1553893805685981185,2022-08-01 00:02:07+00:00,0,1,0,0,Nike

In [18]:
df_concat = pd.concat([df, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12])

In [19]:
df_concat

,author_id,username,author_name,author_followers,author_tweets,author_description,author_location,text,tweet_id,created_at,retweets,replies,likes,quote_count,brand
0,1549441622231900164,SuchitaHedau,oxytocin,454,1907,backup account,"Chennai, India",@kuchbhishubhh Puma shoes üòÆ,1575998843371474944,2022-09-30 23:59:39+00:00,0,0,1,0,Puma
1,997270922976481282,JEFF_SON_334,üèÅüèÅü•ãüèàBishop Sycamore Starting CBüèàü•ãüèÅüèÅ,625,3917,"Husband, Father to a son ,COOL MF in General U...","Montgomery, AL",I hate the fact that Puma ain‚Äôt got no sneaker...,1575977949807116288,2022-09-30 22:36:38+00:00,0,0,0,0,Puma
2,69133413,tarsismenezes,Tarsis,392,35109,BBBholic,"Los Angeles, CA",@slashviolence @PUMA @neymarjr @pumafootball Y...,1575970006550335488,2022-09-30 22:05:04+00:00,0,0,0,0,Puma
3,508551405,My_business_man,ùìôùìÆùìºùìæùìº ùìúùì™ùìΩùì™ üåé üá≥üá™üá™üá∏üá©üá¥,681,19228,"This life is 100% your responsibility, so know...",Free in the World,@i95Bully @ForeverKnicks_ Nah. Puma store on 4...,1575901640699400192,2022-09-30 17:33:24+00:00,0,1,1,0,Puma
4,66769124,THIAGAOAGUIAR,Thiago LULA 13 ‚ù§Ô∏è‚úäüèæ,1527,50325,"Paulistano , Sobrevivente ! Enquanto meu cora√ß...","Weehawken, NJ",Extremely disappointed PUMA . The LGBTQA+ suff...,1575880230559830016,2022-09-30 16:08:20+00:00,0,0,3,0,Puma
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7850,40580353,JBlock49,justin block,4240,144197,total football surrogate // team site coverage...,"Portland, OR",i wonder how many sports bras chloe kelly sold...,1553903910321942528,2022-08-01 00:42:17+00:00,2,0,4,0,Nike
7851,1515614465097568258,babydevoh,Fredo Sauce,16,237,the angry Aries ‚ôàÔ∏è,None,Hiked the nike hill todayüèÉ‚Äç‚ôÇÔ∏è‚úÖ,1553898027110191105,2022-08-01 00:18:54+00:00,0,0,0,0,Nike
7852,1307302810019491841,ifquinnhadagram,Jefe de jefes,421,17470,‚ù§Ô∏è üë∂üèºQuinn.Oregon‚Äô04 via LA.‚ù§Ô∏è=üîã&üîãis everythin...,"Los Angeles, CA",@WTDduckss @Nike Yes yes and yes,1553894576896651264,2022-08-01 00:05:11+00:00,0,0,0,0,Nike
7853,1692907934,imwawit,Wawit,16,2992,It's not easy to be me. I wasn't a good boy at...,"NY, NY",@GracezyUchi @Nike Thanks Bunso ‚ù§Ô∏è,1553894084519100422,2022-08-01 00:03:14+00:00,0,0,0,0,Nike
7854,23896893,MissSneed,D. ‚ù§Ô∏è‚Äçüî•,4099,304072,"milfin‚Äô, hangin‚Äô. ü§åüèΩ don‚Äôt take me seriously ü§ç...","Dallas, TX üìç",@StewardessChick me either üò≠üò≠ i just remember ...,1553893805685981185,2022-08-01 00:02:07+00:00,0,1,0,0,Nike

In [21]:
df_concat.to_csv('brands_franyang_oct20.csv',index=False)